Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Added test for invalid construction and local function
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1130CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/ReadabilityRules/SA1130CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1130UnitTests.cs
Due: production, test

Update to StyleCop.Analyzers 1.1.1-rc.114
  StyleCop.Analyzers/Directory.Build.props
Due: none

Use coverlet instead of opencover
  .nuget/packages.config
  StyleCop.Analyzers/Directory.Build.props
  StyleCop.Analyzers/Directory.Build.targets
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  build/opencover-report.ps1
Due: test

checkpoint
  StyleCop.Analyzers/Directory.Build.props
  appveyor.yml
Due: none

checkpoint
  build/opencover-report.ps1
Due: none

Implemented SA1316
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/NamingRules/SA1316CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/NamingRules/SA1316CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopCodeFixVerifier`2.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopDiagnosticVerifier`1.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/LanguageFeatureHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp71.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxFactsEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/NamingResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/NamingResources.resx
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1316TupleFieldNamesMustUseCorrectCasing.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/NamingSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/TupleFieldNameCase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/stylecop.schema.json
  StyleCopAnalyzers.sln
  documentation/Configuration.md
  documentation/NamingRules.md
  documentation/SA1316.md
Due: production, test

Update DocumentationResources.resx
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.resx
Due: production

Added additional test case
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1139UnitTests.cs
Due: test

Added default rule set for StyleCop.Analyzerz
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/StyleCop.Analyzers.nuspec
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/rulesets/StyleCopAnalyzersDefault.ruleset
Due: production

Fixed issue in UsingCodeFixProvider with ValueTuple definitions under C# 7
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/UsingCodeFixProvider.UsingsSorter.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1200OutsideNamespaceUnitTests.cs
Due: production, test

Apply suggestions from code review
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/NamingSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/TupleFieldNameCase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/stylecop.schema.json
  documentation/Configuration.md
  documentation/NamingRules.md
  documentation/ReadabilityRules.md
  documentation/SA1141.md
  documentation/SA1142.md
  documentation/SA1316.md
  documentation/SA1414.md
Due: production

Fixed build and did some more renaming
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/NamingRules/SA1316CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1142CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/NamingRules/SA1316CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/ReadabilityRules/SA1142CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/LanguageFeatureHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1316TupleElementNamesMustUseCorrectCasing.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1142ReferToTupleElementsByName.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/NamingSettings.cs
Due: production

Updated Microsoft.CodeAnalysis.CSharp.CodeFix.Testing.XUnit and fixed remaining issues
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/NamingRules/SA1313CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/DebugMessagesUnitTestsBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/NamingRules/SA1313UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/DiagnosticVerifierTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopCodeFixVerifier`2.cs
Due: test

Updated opencover-report.ps1
  build/opencover-report.ps1
Due: none

Update terminology
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/NamingRules/SA1316CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/NamingRules/SA1316CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/NamingResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/NamingResources.resx
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1316TupleElementNamesShouldUseCorrectCasing.cs
Due: production

Use AutoWrapSeparatedSyntaxList instead of UnknownElementTypeSyntaxList
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1141CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SeparatedSyntaxListWrapper`1.cs
Due: production

Use named arguments when passing null
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopCodeFixVerifier`2.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopDiagnosticVerifier`1.cs
Due: test

Fix caching for the new lightup layer features
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1141CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp7.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LightupHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SeparatedSyntaxListWrapper`1.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxFactoryEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxFactsEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/TupleElementSyntaxWrapper.cs
Due: production

Update version number for release 1.1.1
  StyleCop.Analyzers/version.json
Due: none

Update version number for release 1.1
  StyleCop.Analyzers/version.json
Due: none

IDE0019 Use pattern matching
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/Helpers/RenameHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1122UseStringEmptyForEmptyStrings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1130UseLambdaSyntax.cs
Due: production

Fix IDE0044 Make field readonly
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/UsingCodeFixProvider.TreeTextSpan.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/SolutionReader.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1412StoreFilesAsUtf8.cs
Due: production

Fix IDE0039 (Use local function)
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/NamingRules/RenameToUpperCaseCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/HelperTests/ObjectPools/ObjectPoolTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/HelperTests/ObjectPools/SharedPoolsTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LightupHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/DocumentationSettings.cs
Due: production, test

Fix IDE0052 Private member can be removed as the value assigned to it is never read
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/PartialElementDocumentationSummaryBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/FileHeader.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/JsonObject.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1303ConstFieldNamesMustBeginWithUpperCaseLetter.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1130UseLambdaSyntax.cs
Due: production

Fix IDE0051 Private member is unused
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/LayoutRules/SA1502CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/SolutionReader.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/NoXmlFileHeaderUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1609UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1610UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1611UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1613UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1614UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1616UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1617UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1621UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1622UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1626UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1629UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1642UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1651UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1503UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1200PreserveUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/JsonObject.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/Serialization/JsonWriter.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1412StoreFilesAsUtf8.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1206DeclarationKeywordsMustFollowOrder.cs
  StyleCop.Analyzers/StyleCopTester/Program.cs
Due: production, test

Fix IDE0054 Use compound assignment
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/FileHeaderCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/NamingRules/RenameToUpperCaseCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/SpacingRules/SA1027CodeFixProvider.cs
Due: production

Fix IDE0060 Remove unused parameter
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/InheritdocCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/SA1600CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/SA1642SA1643CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/LayoutRules/SA1500CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/LayoutRules/SA1503CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/LayoutRules/SA1516CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/MaintainabilityRules/SA1407SA1408FixAllProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/UsingCodeFixProvider.SourceMap.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/Settings/SettingsFileCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/SpacingRules/SA1004CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LightJson/JsonObjectTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1412UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1116UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1117UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1121UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/FileHeaderAnalyzers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/AccessLevelHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/FileHeader.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1501StatementMustNotBeOnASingleLine.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SeparatedSyntaxListWrapper`1.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1202ElementsMustBeOrderedByAccess.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/SpacingSettings.cs
  StyleCop.Analyzers/StyleCopTester/Program.cs
Due: production, test

Fix IDE0059 Value assigned is never used (includes a bugfix)
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/SA1626CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/SA1642SA1643CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/Helpers/FormattingHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1129CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/HelperTests/IndentationHelperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/PartialElementDocumentationSummaryBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1643DestructorSummaryDocumentationMustBeginWithStandardText.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/XmlCommentHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1516ElementsMustBeSeparatedByBlankLine.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1119StatementMustNotUseUnnecessaryParenthesis.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1202ElementsMustBeOrderedByAccess.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1120CommentsMustContainText.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1122UseStringEmptyForEmptyStrings.cs
Due: production, test

Final fixes after rebasing
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1130CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxFactsEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1316TupleElementNamesShouldUseCorrectCasing.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1142ReferToTupleElementsByName.cs
Due: production

Replaced several 'Currently unused' with 'Not needed for this test' comments
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1116UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1117UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1121UnitTests.cs
Due: test

Add custom order for SA1201 addressing 2541, 1610
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/OrderingRules/SA1201CSharp7CustomKindOrderTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/OrderingRules/SA1201CSharp8CustomKindOrderTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1201CustomKindOrderTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1201ElementsMustAppearInTheCorrectOrder.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/KindOrderingSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/OrderingSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/stylecop.schema.json
  documentation/Configuration.md
Due: production, test

added more tests
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1201CustomKindOrderTests.cs
Due: test

add documentation
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1201CustomKindOrderTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1201ElementsMustAppearInTheCorrectOrder.cs
  documentation/SA1201.md
Due: production, test

documentation tweak
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1201CustomKindOrderTests.cs
  documentation/Configuration.md
Due: test

fixing linq reference in test file
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1201CustomKindOrderTests.cs
Due: test

Mention VS2019
  documentation/EnableConfiguration.md
Due: none

Upload the coverage XML file as a build artifact
  appveyor.yml
Due: none

Path conditions:
  production: any of: StyleCop.Analyzers/StyleCop.Analyzers/, StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test: any of: StyleCop.Analyzers/StyleCop.Analyzers.Test/, StyleCop.Analyzers/StyleCopTester/
