Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Simplify handling of BaseTypeDeclarationSyntax in ElementDocumentationBase
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/ElementDocumentationBase.cs
Due: production

Avoid reporting SA1629 inside 'seealso' elements
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1629UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1629DocumentationTextMustEndWithAPeriod.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/XmlCommentHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/XmlSyntaxFactory.cs
Due: production, test

Use string interpolation to improve test readability
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1642UnitTests.cs
Due: test

Improve SA1642 code fix handling of empty lines
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/SA1642SA1643CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1642UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1643UnitTests.cs
Due: production, test

Additional test cases for SA1135
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1135UnitTests.cs
Due: test

Made SA1130 codefix properly expand parameters when only delegate keyword is used
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1130CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1130UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1130UseLambdaSyntax.cs
Due: production, test

Switch to packages.config
  StyleCop.Analyzers.Status.Generator/StyleCop.Analyzers.Status.Generator.csproj
  StyleCop.Analyzers.Status.Generator/packages.config
  StyleCop.Analyzers.Status.Web/StyleCop.Analyzers.Status.Web.csproj
  StyleCop.Analyzers.Status.Web/packages.config
Due: none

Switch StyleCop.Analyzers.Status.Generator to the new project system
  StyleCop.Analyzers.Status.Generator/Properties/AssemblyInfo.cs
  StyleCop.Analyzers.Status.Generator/Properties/launchSettings.json
  StyleCop.Analyzers.Status.Generator/StyleCop.Analyzers.Status.Generator.csproj
  StyleCop.Analyzers.Status.sln
Due: none

Update to the latest MSBuildWorkspace prerelease that supports CPS projects
  NuGet.config
  StyleCop.Analyzers.Status.Generator/App.config
  StyleCop.Analyzers.Status.Generator/Program.cs
  StyleCop.Analyzers.Status.Generator/SolutionReader.cs
  StyleCop.Analyzers.Status.Generator/StyleCop.Analyzers.Status.Generator.csproj
  StyleCop.Analyzers.Status.Web/StyleCop.Analyzers.Status.Web.csproj
Due: none

Clean up output from the analysis tool
  StyleCop.Analyzers.Status.Generator/Program.cs
Due: none

Move status generator to a subfolder
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/App.config
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/CodeFixStatus.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/CompilationFailedException.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/Program.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/Properties/AssemblyInfo.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/ResourceReader.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/Rules.ruleset
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/SolutionReader.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/StyleCop.Analyzers.Status.Generator.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/StyleCopDiagnostic.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/packages.config
Due: none

Enable strong naming for the status generator app
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/StyleCop.Analyzers.Status.Generator.csproj
Due: none

Enable default 'None' items
  StyleCop.Analyzers/Directory.Build.props
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/StyleCop.Analyzers.CodeFixes.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Vsix/StyleCop.Analyzers.Vsix.csproj
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
Due: production

Add status generator to solution and clean up style warnings
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/CodeFixStatus.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/CompilationFailedException.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/Program.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/ResourceReader.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/SolutionReader.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/StyleCop.Analyzers.Status.Generator.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/StyleCopDiagnostic.cs
  StyleCopAnalyzers.sln
Due: none

Run the status generator directly against the build output
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/CompilationFailedException.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/Properties/launchSettings.json
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/ResourceReader.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/Rules.ruleset
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/SolutionReader.cs
  StyleCopAnalyzers.sln
  appveyor.yml
Due: none

Add status site for use with GitHub Pages
  README.md
  docs/index.html
Due: none

Moved parameter list determinitation to the codefix
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1130CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1130UseLambdaSyntax.cs
Due: production

Remove unintended header from index.html
  docs/index.html
Due: none

Publish the status site as an AppVeyor artifact
  appveyor.yml
Due: none

Added SA1135 to ReadabilityRules.md
  documentation/ReadabilityRules.md
Due: none

Fixed issue where SA1002 was reported when a semicolon is the last character in a file
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1002UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1002SemicolonsMustBeSpacedCorrectly.cs
Due: production, test

Automatically include stylecop.json
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/StyleCop.Analyzers.nuspec
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/build/MSBuild15.props
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/build/MSBuildOld.props
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/build/StyleCop.Analyzers.targets
Due: production

Increment version to 1.2 so documentation can refer to when auto include stylecop.json was added
  DOCUMENTATION.md
  build/version.ps1
  documentation/EnableConfiguration.md
Due: none

Add blank line filtering to XmlSyntaxFactory.MultiLineElement
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1600UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1609UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/HelperTests/XmlSyntaxFactoryTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/XmlSyntaxFactory.cs
Due: production, test

Fix spelling mistake
  documentation/Configuration.md
Due: none

Fix handling of consecutive empty elements
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1629UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1629DocumentationTextMustEndWithAPeriod.cs
Due: production, test

Treat empty XML elements as a "word not ending with a period"
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1629UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1629DocumentationTextMustEndWithAPeriod.cs
Due: production, test

Simplify the comment added by codecov.io
  .codecov.yml
Due: none

Fix handling of tuple types in using alias directives
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1135UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp7.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/INamedTypeSymbolExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ITypeSymbolExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1135UsingDirectivesMustBeQualified.cs
Due: production, test

Removed unused properties builder code
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1130UseLambdaSyntax.cs
Due: production

$schema value should end with '#'
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/stylecop.schema.json
Due: production

Extract helper method HandleSectionXmlElement
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1629DocumentationTextMustEndWithAPeriod.cs
Due: production

Update SA1629 to analyze the content of paragraphs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1629UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1629DocumentationTextMustEndWithAPeriod.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/XmlCommentHelper.cs
Due: production, test

Allow '-or-' as a standalone paragraph
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1629UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1629DocumentationTextMustEndWithAPeriod.cs
Due: production, test

Allow paragraphs before the last to end with ':' instead of '.'
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1629UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1629DocumentationTextMustEndWithAPeriod.cs
Due: production, test

docs: Add missing slashes to example .props file
  documentation/Configuration.md
Due: none

Use expected name for syntax node action method
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1139UseLiteralSuffixNotationInsteadOfCasting.cs
Due: production

Support parenthesized expressions in SA1139
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1139CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1139UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/ExpressionSyntaxHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1139UseLiteralSuffixNotationInsteadOfCasting.cs
Due: production, test

Add tests for types with no suffix
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1139UnitTests.cs
Due: test

Path conditions:
  production: any of: StyleCop.Analyzers/StyleCop.Analyzers/, StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test: any of: StyleCop.Analyzers/StyleCop.Analyzers.Test/, StyleCop.Analyzers/StyleCopTester/
