Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

flags:
  production:
    paths:
      - StyleCop.Analyzers/StyleCop.Analyzers/
      - StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test:
    paths:
      - StyleCop.Analyzers/StyleCop.Analyzers.Test/
      - StyleCop.Analyzers/StyleCopTester/

Correct copy-paste error
  documentation/SA1413.md
Due: none

Update xunit version
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Support the ref keyword in SA1206
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/OrderingRules/SA1206CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/ModifierOrderHelper.cs
Due: production

Update to xUnit 2.3.0
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Fix xUnit2013 by using Assert.NotEmpty where appropriate
  StyleCop.Analyzers/StyleCop.Analyzers.Test/HelperTests/ObjectPools/SharedPoolsTests.cs
Due: test

Fix xUnit2013 by using Assert.Empty where appropriate
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/LocalFunctionStatementSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/HelperTests/ObjectPools/SharedPoolsTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/SeparatedSyntaxListWrapperTestBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Settings/SettingsUnitTests.cs
Due: test

Fix xUnit2013 by using Assert.Single where appropriate
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/IsPatternExpressionSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/LocalFunctionStatementSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/RefExpressionSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/RefTypeSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/ThrowExpressionSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/TupleElementSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/TupleExpressionSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/TupleTypeSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/WhenClauseSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1603UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1628UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1630UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1631UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1632UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1645UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1646UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1647UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1650UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ExportCodeFixProviderAttributeNameTest.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1409UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/NamingRules/SA1301UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1109UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1126UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Settings/SettingsFileCodeFixProviderUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Settings/SettingsUnitTests.cs
Due: test

Suppress xUnit1026 where it can't be reasonably fixed
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1116UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1117UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1121UnitTests.cs
Due: test

Implement SeparatedSyntaxListWrapper<TNode>.GetEnumerator()
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SeparatedSyntaxListWrapper`1.cs
Due: production

Add .editorconfig
  .editorconfig
  StyleCopAnalyzers.sln
Due: none

Add new code style settings to .editorconfig
  .editorconfig
Due: none

Fix StyleCopTester support for SDK projects
  StyleCop.Analyzers/StyleCopTester/Properties/launchSettings.json
  StyleCop.Analyzers/StyleCopTester/StyleCopTester.csproj
Due: test

Support testing analyzer edit performance
  StyleCop.Analyzers/StyleCopTester/Program.cs
  StyleCop.Analyzers/StyleCopTester/Properties/launchSettings.json
Due: test

Improved document performance output and show slowest files in the summary
  StyleCop.Analyzers/StyleCopTester/Program.cs
Due: test

Support /editperf and /edititer to support targeted testing of specific files
  StyleCop.Analyzers/StyleCopTester/Program.cs
Due: test

Remove unnecessary method FixAllContextHelper.GetAllDiagnosticsAsync
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/Helpers/FixAllContextHelper.cs
  StyleCop.Analyzers/StyleCopTester/Program.cs
Due: production, test

Fix a typo in the StyleCopTester help text
  StyleCop.Analyzers/StyleCopTester/Program.cs
Due: test

Fixed false report for named tuple elements.
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/ReadabilityRules/SA1101CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1101PrefixLocalCallsWithThis.cs
Due: production

Added unit test for issue #2236
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1642UnitTests.cs
Due: test

Return base.GetSettings instead of null.
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1642UnitTests.cs
Due: test

Implemented SA1600 codefix
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/SA1600CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/SA1615SA1616CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/SA1642SA1643CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/Helpers/TaskHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1600UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.resx
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/XmlSyntaxFactory.cs
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
Due: production, test

Make sure culture info is persisted across methods executed from classes with UseCulture attribute
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Helpers/UseCultureAttribute.cs
Due: test

Fix the "Turkish İ" problem
  StyleCop.Analyzers/StyleCop.Analyzers.Test/NamingRules/SA1300UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/NamingRules/SA1312UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/NamingRules/SA1313UnitTests.cs
Due: test

Fixes issue with bulk fixer of SA1500
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/LayoutRules/SA1500CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1500/SA1500UnitTests.cs
Due: production, test

Added test case for #2568
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1008CSharp7UnitTests.cs
Due: none

Fixed false positive for ambiguous method overloads in SA1410
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1410UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1410RemoveDelegateParenthesisWhenPossible.cs
Due: production, test

Improved SA1501 codefix to allow for a single pass fixall
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/Helpers/IndentationHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/LayoutRules/SA1501CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1501UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/LayoutResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/LayoutResources.resx
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1501StatementMustNotBeOnASingleLine.cs
Due: production, test

Make sure SA1501 is safe for concurrent execution
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1501StatementMustNotBeOnASingleLine.cs
Due: production

Only report a hidden diagnostic for cases where SA1501 overlaps with SA1519
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/LayoutRules/SA1501CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1501UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1501StatementMustNotBeOnASingleLine.cs
Due: production, test

Fixed false positive in SA1011 for array index followed by pointer dereference
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1011UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1011ClosingSquareBracketsMustBeSpacedCorrectly.cs
Due: production, test

Update CSharp 7 project to version 2.7
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/app.config
Due: none

Update tests for SA1206 for the new modifiers for structs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/OrderingRules/SA1206CSharp7UnitTests.cs
Due: none

Adding NuGet badges to README
  README.md
Due: none

Fix inconsistency with IDE for sorting usings for Windows.* namespaces when system using directives first is enabled
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/UsingCodeFixProvider.UsingsSorter.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/UsingCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/UsingDirectiveSyntaxHelpers.cs
Due: production

Add unit tests for handling Windows using directives correctly for SA1208 and SA1210
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1208UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1210UnitTests.cs
Due: test

Revert "SA1210 is inconsistent with IDE's Remove and Sort Usings"
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/UsingCodeFixProvider.UsingsSorter.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/UsingCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1208UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1210UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/UsingDirectiveSyntaxHelpers.cs
Due: production, test

Add tests for SA1206 with the 'readonly', 'ref', and 'partial' keywords
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/OrderingRules/SA1206CSharp7UnitTests.cs
Due: none

Simplify SA1410 overload analysis using the speculative semantic model
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1410UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1410RemoveDelegateParenthesisWhenPossible.cs
Due: production, test

Remove unnecessary type checks
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1501StatementMustNotBeOnASingleLine.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1516ElementsMustBeSeparatedByBlankLine.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1119StatementMustNotUseUnnecessaryParenthesis.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1410RemoveDelegateParenthesisWhenPossible.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SystemDiagnosticsDebugDiagnosticBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1311StaticReadonlyFieldsMustBeginWithUpperCaseLetter.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1208SystemUsingDirectivesMustBePlacedBeforeOtherUsingDirectives.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1209UsingAliasDirectivesMustBePlacedAfterOtherUsingDirectives.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1211UsingAliasDirectivesMustBeOrderedAlphabeticallyByAliasName.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1107CodeMustNotContainMultipleStatementsOnOneLine.cs
Due: production

Rename method to reflect expected input
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1405DebugAssertMustProvideMessageText.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1406DebugFailMustProvideMessageText.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SystemDiagnosticsDebugDiagnosticBase.cs
Due: production
