Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

flags:
  production:
    paths:
      - StyleCop.Analyzers/StyleCop.Analyzers/
      - StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test:
    paths:
      - StyleCop.Analyzers/StyleCop.Analyzers.Test/
      - StyleCop.Analyzers/StyleCopTester/

Try to fix appveyor test script
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
  appveyor.yml
Due: production, test

Disable vsix deployment outside visual studio
  StyleCop.Analyzers/StyleCop.Analyzers.Vsix/StyleCop.Analyzers.Vsix.csproj
Due: none

Try to fix appveyor test script
  appveyor.yml
Due: none

Fix code coverage
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Helpers/CodeFixVerifier.Helper.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
  appveyor.yml
Due: production, test

Fix appveyor target
  appveyor.yml
Due: none

Hopefully fix code coverage path
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  appveyor.yml
  build/opencover-report.ps1
Due: test

Fix codecov
  build/opencover-report.ps1
Due: none

Clean up test references
  StyleCop.Analyzers/StyleCop.Analyzers.Test/HelperTests/IndentationHelperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Helpers/DiagnosticVerifier.Helper.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Helpers/MetadataReferences.cs
Due: test

Fix logic in SA1308CodeFixProvider
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/NamingRules/SA1308CodeFixProvider.cs
Due: production

Add regression tests for changes, improve existing ones
  StyleCop.Analyzers/StyleCop.Analyzers.Test/NamingRules/SA1308UnitTests.cs
Due: test

Fix compiler errors
  StyleCop.Analyzers/StyleCop.Analyzers.Test/NamingRules/SA1308UnitTests.cs
Due: test

Unescape prefixes before handing to WithArguments
  StyleCop.Analyzers/StyleCop.Analyzers.Test/NamingRules/SA1308UnitTests.cs
Due: test

Escaped too much
  StyleCop.Analyzers/StyleCop.Analyzers.Test/NamingRules/SA1308UnitTests.cs
Due: test

New JSON parser
  LICENSE
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/StyleCop.Analyzers.CodeFixes.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/StyleCop.Analyzers.nuspec
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/packages.config
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/NoXmlFileHeaderUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1203UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/packages.config
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/JsonArray.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/JsonObject.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/JsonValue.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/JsonValueType.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/Serialization/JsonParseException.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/Serialization/JsonReader.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/Serialization/TextPosition.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/Serialization/TextScanner.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/InvalidSettingsException.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/JsonHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/DocumentationSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/LayoutSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/MaintainabilitySettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/NamingSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/OrderingSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/ReadabilitySettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/SettingsFile.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/SpacingSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/StyleCopSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/SettingsHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
  StyleCop.Analyzers/StyleCop.Analyzers/packages.config
  StyleCop.Analyzers/StyleCopTester/StyleCopTester.csproj
  StyleCop.Analyzers/StyleCopTester/packages.config
Due: production, test

Update SA1101.md
  documentation/SA1101.md
Due: none

Removed unused code.
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1513ClosingBraceMustBeFollowedByBlankLine.cs
Due: production

Updated SA1309CodeFixProvider to not provide a code fix if the resulting identifier would be illegal.
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/NamingRules/SA1309CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/NamingRules/SA1309UnitTests.cs
Due: production, test

Removed unnecessary using statement.
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1303ConstFieldNamesMustBeginWithUpperCaseLetter.cs
Due: production

Revert several changes
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/NoXmlFileHeaderUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1203UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/DocumentationSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/LayoutSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/MaintainabilitySettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/NamingSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/OrderingSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/ReadabilitySettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/SpacingSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/StyleCopSettings.cs
Due: production, test

Clean up constructor documentation
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/MaintainabilitySettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/OrderingSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/ReadabilitySettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/SpacingSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/StyleCopSettings.cs
Due: production

Save LICENSE as UTF-8
  LICENSE
Due: none

Add tests for relaxed JSON syntax supported by Json.NET
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Settings/SettingsUnitTests.cs
Due: test

Allow trailing commas in arrays and objects
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/Serialization/JsonReader.cs
Due: production

Allow block and line comments in JSON content
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/Serialization/TextScanner.cs
Due: production

Update version numbers for release 1.0.2
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/Properties/AssemblyInfo.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Properties/AssemblyInfo.cs
  build/version.ps1
Due: production

Prepare for next development iteration
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/Properties/AssemblyInfo.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Properties/AssemblyInfo.cs
  build/version.ps1
Due: production

Support expression-bodied accessors via light-up
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/AccessorDeclarationSyntaxExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/BaseMethodDeclarationSyntaxExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp7.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ConstructorDeclarationSyntaxExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/DestructorDeclarationSyntaxExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LightupHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxKindEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
Due: production

Support PatternSyntax and derived types via light-up
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/NodeHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp7.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ConstantPatternSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/DeclarationPatternSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/DiscardDesignationSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ISyntaxWrapper`1.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LightupHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ParenthesizedVariableDesignationSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/PatternSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SingleVariableDesignationSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/VariableDesignationSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
Due: production

Add test project for C# 7 syntax
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/Properties/AssemblyInfo.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Properties/AssemblyInfo.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/app.config
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/packages.config
  StyleCop.Analyzers/StyleCop.Analyzers/Properties/AssemblyInfo.cs
  StyleCopAnalyzers.sln
  appveyor.yml
Due: production

Add initial tests for AccessorDeclarationSyntaxExtensions
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/AccessorDeclarationSyntaxExtensionsTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/AccessorDeclarationSyntaxExtensionsTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/AccessorDeclarationSyntaxExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LightupHelpers.cs
Due: production, test

Add tests for remaining expression-bodied members
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/BaseMethodDeclarationSyntaxExtensionsTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/ConstructorDeclarationSyntaxExtensionsTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/DestructorDeclarationSyntaxExtensionsTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/BaseMethodDeclarationSyntaxExtensionsTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/ConstructorDeclarationSyntaxExtensionsTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/DestructorDeclarationSyntaxExtensionsTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/BaseMethodDeclarationSyntaxExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ConstructorDeclarationSyntaxExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/DestructorDeclarationSyntaxExtensions.cs
Due: production, test

Add tests for ConstantPatternSyntaxWrapper
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/ConstantPatternSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/ConstantPatternSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LightupHelpers.cs
Due: production, test

Add tests for DeclarationPatternSyntaxWrapper
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/DeclarationPatternSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/DeclarationPatternSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Add additional tests covering SyntaxKindEx features
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/ConstantPatternSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/DeclarationPatternSyntaxWrapperTests.cs
Due: none

Add tests for DiscardDesignationSyntaxWrapper
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/DiscardDesignationSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/DiscardDesignationSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Add tests for PatternSyntaxWrapper
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/PatternSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/PatternSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Add tests for VariableDesignationSyntaxWrapper
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/VariableDesignationSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/VariableDesignationSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Improved handling of token comparisons in tests
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/DiscardDesignationSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/DiscardDesignationSyntaxWrapperTests.cs
Due: test

Add tests for SingleVariableDesignationSyntaxWrapper
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/SingleVariableDesignationSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/SingleVariableDesignationSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Add tests for ParenthesizedVariableDesignationSyntaxWrapper
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/ParenthesizedVariableDesignationSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/ParenthesizedVariableDesignationSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test
