Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Set version numbers in CI
  StyleCop.Analyzers/version.json
Due: none

Support tests using net5.0
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/GenericAnalyzerTest.cs
Due: test

Fix SA1119 handling of switch expression within member access expressions
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/MaintainabilityRules/SA1119CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1119StatementMustNotUseUnnecessaryParenthesis.cs
Due: production

Update to StyleCop.Analyzers 1.2.0-beta.205
  StyleCop.Analyzers/Directory.Build.props
  StyleCop.Analyzers/stylecop.json
Due: none

Fix SA1629 (Documentation text should end with a period)
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/CodeFixStatus.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1402SettingsConfiguration.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/MemberOrderHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/ModifierOrderHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/FileNamingConvention.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/TopLevelType.cs
Due: production, test

Improve documentation comment styles
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1402SettingsConfiguration.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/MemberOrderHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/ModifierOrderHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/FileNamingConvention.cs
Due: production, test

Fix SA1008 for positional pattern after comma
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1008CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1008OpeningParenthesisMustBeSpacedCorrectly.cs
Due: production

Update SA1101 to support 'with' expressions
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1101CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxKindEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1101PrefixLocalCallsWithThis.cs
Due: production

Update naming rules to support records
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/NamingRules/SA1300CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/NamingRules/SA1313CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxKindEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1300ElementMustBeginWithUpperCaseLetter.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1313ParameterNamesMustBeginWithLowerCaseLetter.cs
Due: production

Update testing library to 1.0.1-beta1.20478.1
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/GenericAnalyzerTest.cs
Due: test

Update SA1117 tests to show diagnostic locations
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1117UnitTests.cs
Due: test

Avoid boxing SeparatedSyntaxList<T>
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1117ParametersMustBeOnSameLineOrSeparateLines.cs
Due: production

Only compare starting positions for "on same line"
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1117UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1117ParametersMustBeOnSameLineOrSeparateLines.cs
Due: production, test

Update SA1649 to support record types
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/DocumentationRules/SA1649CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1649UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/NamedTypeHelpers.cs
Due: production, test

Fix typos
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1118UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1118ParameterMustNotSpanMultipleLines.cs
Due: production, test

Update SA1118 to support multiline array creation (fix #2916)
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1118UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1118ParameterMustNotSpanMultipleLines.cs
Due: production, test

Configuration.md: Add link to rule set example file
  documentation/Configuration.md
Due: none

Update documentation/Configuration.md
  documentation/Configuration.md
Due: none

Use IOperation APIs for SA1129 when supported
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1129UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/IArgumentOperationWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/IObjectCreationOperationWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/IObjectOrCollectionInitializerOperationWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/IOperationWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ITypeParameterObjectCreationOperationWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LanguageVersionEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LightupHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/OperationKindEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/WrapperHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1129DoNotUseDefaultValueTypeConstructor.cs
Due: production, test

Use IOperation APIs for SA1142 when supported
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/LanguageFeatureHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/IFieldReferenceOperationWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/IMemberReferenceOperationWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/OperationKindEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/WrapperHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1142ReferToTupleElementsByName.cs
Due: production

Update to C# 9
  StyleCop.Analyzers/Directory.Build.props
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/DocumentationRules/SA1600CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/StyleCop.Analyzers.Test.CSharp9.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1600UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1501UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Hook up StyleCop.Analyzers.CodeGeneration
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/Properties/AssemblyInfo.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/PublicAPI.Shipped.txt
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/PublicAPI.Unshipped.txt
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.csproj
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
  StyleCopAnalyzers.sln
Due: production

Add empty LightupGenerator
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/LightupGenerator.cs
Due: none

Add OperationInterfaces.xml from dotnet/roslyn@cb7222c7
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/OperationInterfaces.xml
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
Due: production

Implement generator for IOperation interfaces
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/LightupGenerator.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/IArgumentOperationWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/IFieldReferenceOperationWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/IMemberReferenceOperationWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/IObjectCreationOperationWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/IObjectOrCollectionInitializerOperationWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ITypeParameterObjectCreationOperationWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/WrapperHelper.cs
Due: production

Update to Microsoft.CodeAnalysis.Testing 1.0.1-beta1.20559.1
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1501UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Remove unnecessary SyntaxReceiver
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/LightupGenerator.cs
Due: none

Simplify the code generation object model
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/OperationLightupGenerator.cs
Due: none

Avoid generating wrappers for internal interfaces
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/OperationLightupGenerator.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.OperationLightupGenerator/IAggregateQueryOperationWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.OperationLightupGenerator/IFixedOperationWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.OperationLightupGenerator/INoPiaObjectCreationOperationWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.OperationLightupGenerator/IPlaceholderOperationWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.OperationLightupGenerator/IPointerIndirectionReferenceOperationWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.OperationLightupGenerator/IWithStatementOperationWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.OperationLightupGenerator/OperationWrapperHelper.g.cs
Due: production

Generate OperationKindEx
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/OperationLightupGenerator.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/OperationKindExTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/Lightup/OperationKindExTestsCSharp8.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/Lightup/OperationKindExTestsCSharp9.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.OperationLightupGenerator/OperationKindEx.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/OperationKindEx.cs
Due: production

Add Syntax.xml from dotnet/roslyn@4c195c3a
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/Syntax.xml
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
Due: production

Update SyntaxWrapperHelperTests
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/SyntaxWrapperHelperTestsCSharp7.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/WrapperHelperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/Lightup/SyntaxWrapperHelperTestsCSharp8.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/Lightup/SyntaxWrapperHelperTestsCSharp9.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/SyntaxWrapperHelperTests.cs
Due: test

Enable nullable reference types
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/OperationLightupGenerator.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/SyntaxLightupGenerator.cs
Due: none

Path conditions:
  production: any of: StyleCop.Analyzers/StyleCop.Analyzers/, StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test: any of: StyleCop.Analyzers/StyleCop.Analyzers.Test/, StyleCop.Analyzers/StyleCopTester/
