Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Fall back to case sensitive comparisons if case-insensitive is a match
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/UsingCodeFixProvider.UsingsSorter.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1210UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/NameSyntaxHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1210UsingDirectivesMustBeOrderedAlphabeticallyByNamespace.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1217UsingStaticDirectivesMustBeOrderedAlphabetically.cs
Due: production, test

Fix SA1413 handling of single-line enum declarations
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1413UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1413UseTrailingCommasInMultiLineInitializers.cs
Due: production, test

Fix delegate caching in SA1413 implementation
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1413UseTrailingCommasInMultiLineInitializers.cs
Due: production

Update .NET Core documentation to focus on current practices first
  documentation/DotNetCli.md
Due: none

Added tests to verify tuple expressions as well
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1008CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1009CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Helpers/MetadataReferences.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1009ClosingParenthesisMustBeSpacedCorrectly.cs
Due: production, test

Fixes #2475
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1008UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1009UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1009ClosingParenthesisMustBeSpacedCorrectly.cs
Due: production, test

Reverted MetadataReferences changes
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Helpers/MetadataReferences.cs
Due: test

Added testcase for #2494
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1009CSharp7UnitTests.cs
Due: none

Updated xUnit to latest
  StyleCop.Analyzers/StyleCop.Analyzers.Internal.ruleset
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/LocalFunctionStatementSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/TupleTypeSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/packages.config
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LightJson/JsonValueTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LightJson/Serialization/JsonReaderTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/SeparatedSyntaxListWrapperTestBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/DebugMessagesUnitTestsBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1412UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/packages.config
Due: test

Update the C# 7 test project to the new project system
  StyleCop.Analyzers/Directory.build.props
  StyleCop.Analyzers/Directory.build.targets
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Properties/AssemblyInfo.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/packages.config
  StyleCopAnalyzers.sln
  appveyor.yml
Due: none

Update StyleCopTester to the new project system
  StyleCop.Analyzers/Directory.build.props
  StyleCop.Analyzers/StyleCopTester/Properties/AssemblyInfo.cs
  StyleCop.Analyzers/StyleCopTester/Properties/launchSettings.json
  StyleCop.Analyzers/StyleCopTester/StyleCopTester.csproj
  StyleCop.Analyzers/StyleCopTester/packages.config
  StyleCopAnalyzers.sln
Due: test

Update StyleCop.Analyzers.Vsix to the new project system
  StyleCop.Analyzers/StyleCop.Analyzers.Vsix/Properties/launchSettings.json
  StyleCop.Analyzers/StyleCop.Analyzers.Vsix/StyleCop.Analyzers.Vsix.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Vsix/packages.config
  StyleCopAnalyzers.sln
Due: none

Update remaining projects to the new project system
  StyleCop.Analyzers/Directory.build.props
  StyleCop.Analyzers/Directory.build.targets
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/Helpers/CustomBatchFixAllProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/Helpers/FixAllContextHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/Properties/AssemblyInfo.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/StyleCop.Analyzers.CodeFixes.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/packages.config
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Properties/AssemblyInfo.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpecialRules/SA0002UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/packages.config
  StyleCop.Analyzers/StyleCop.Analyzers/ExcludeFromCodeCoverageAttribute.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Properties/AssemblyInfo.cs
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
  StyleCop.Analyzers/StyleCop.Analyzers/packages.config
  StyleCop.Analyzers/StyleCopTester/StyleCopTester.csproj
  StyleCopAnalyzers.sln
  appveyor.yml
Due: production, test

Unify assembly version handling in Directory.build.props
  StyleCop.Analyzers/Directory.build.props
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/StyleCop.Analyzers.CodeFixes.csproj
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
  StyleCopAnalyzers.sln
Due: production

Remove unnecessary reference to NuGet 2.8.3
  .nuget/packages.config
Due: none

Fix duplicate package with the name StyleCop.Analyzers
  StyleCop.Analyzers/StyleCop.Analyzers.Vsix/StyleCop.Analyzers.Vsix.csproj
Due: none

Fix the NuGet packaging step
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/StyleCop.Analyzers.CodeFixes.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/StyleCop.Analyzers.nuspec
Due: production

Disable DiagnosticAnalyzerAttributeAnalyzer to avoid AD0001
  StyleCop.Analyzers/StyleCop.Analyzers.Internal.ruleset
Due: none

Added SA1137 to the Readability overview
  documentation/ReadabilityRules.md
Due: none

Reference ExcludeFromCodeCoverageAttribute using an assembly alias
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpecialRules/SA0002UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Fixed issue in SA1001 fix all code fix
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/SpacingRules/TokenSpacingCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1001UnitTests.cs
Due: production, test

Allow underscore digit in enum members for SA1300
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/NamingRules/RenameToUpperCaseCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/NamingRules/SA1300UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1300ElementMustBeginWithUpperCaseLetter.cs
Due: production, test

Fixed issues in SA1009 code fix
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/SpacingRules/TokenSpacingCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1009UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1009ClosingParenthesisMustBeSpacedCorrectly.cs
Due: production, test

Rename files for correctness on case-sensitive file systems
  StyleCop.Analyzers/Directory.Build.props
  StyleCop.Analyzers/Directory.Build.targets
  StyleCopAnalyzers.sln
Due: none

Enable code generation for embedded resources
  StyleCop.Analyzers/Directory.Build.targets
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/HelpersResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/LayoutResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/MaintainabilityResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/NamingResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/OrderingResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/ReadabilityResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/SettingsResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SpacingResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpecialRules/SpecialResources.Designer.cs
Due: production

Add default excludes to globs
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
Due: production

Move NeutralLanguage property to Directory.Build.props
  StyleCop.Analyzers/Directory.Build.props
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/StyleCop.Analyzers.CodeFixes.csproj
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
  StyleCop.Analyzers/StyleCopTester/StyleCopTester.csproj
Due: production, test

Simplify the resource updates
  StyleCop.Analyzers/Directory.Build.targets
Due: none

Fix typo in SA1600 documentation
  documentation/SA1600.md
Due: none

Implemented SA1629 (+ codefix)
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/SA1629CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/DocumentationRules/SA1629CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1629UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.resx
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1629DocumentationTextMustEndWithAPeriod.cs
Due: production, test

Improved behavior with invalid included documentation
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1629UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1629DocumentationTextMustEndWithAPeriod.cs
Due: production, test

Fix and test handling of missing tokens in SA1500 (BracesForMultiLineStatementsMustNotShareLine)
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1500/SA1500UnitTests.Properties.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1500BracesForMultiLineStatementsMustNotShareLine.cs
Due: production, test

Fix VSIX deployment to the experimental hive
  StyleCop.Analyzers/StyleCop.Analyzers.Vsix/StyleCop.Analyzers.Vsix.csproj
Due: none

Add test for ParenthesizedVariableDesignationSyntaxWrapper.AddVariables #2387
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/ParenthesizedVariableDesignationSyntaxWrapperTests.cs
Due: none

Add null test for ParenthesizedVariableDesignationSyntaxWrapper.AddVariables #2387
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/ParenthesizedVariableDesignationSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/ParenthesizedVariableDesignationSyntaxWrapperTests.cs
Due: test

Updated xunit.runner.visualstudio
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Implemented missing parameter validation in separated syntax list accessor helper
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/LightupHelpersTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CasePatternSwitchLabelSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CommonForEachStatementSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ConstantPatternSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/DeclarationExpressionSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/DeclarationPatternSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/DiscardDesignationSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ForEachVariableStatementSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/IsPatternExpressionSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LightupHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LocalFunctionStatementSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ParenthesizedVariableDesignationSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/PatternSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/RefExpressionSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/RefTypeSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SingleVariableDesignationSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ThrowExpressionSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/TupleElementSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/TupleExpressionSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/TupleTypeSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/VariableDesignationSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/WhenClauseSyntaxWrapper.cs
Due: production, test

Updated to not expose WrappedType
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/WrapperHelperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CasePatternSwitchLabelSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CommonForEachStatementSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ConstantPatternSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/DeclarationExpressionSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/DeclarationPatternSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/DiscardDesignationSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ForEachVariableStatementSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/IsPatternExpressionSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LightupHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LocalFunctionStatementSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ParenthesizedVariableDesignationSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/PatternSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/RefExpressionSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/RefTypeSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SingleVariableDesignationSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ThrowExpressionSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/TupleElementSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/TupleExpressionSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/TupleTypeSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/VariableDesignationSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/WhenClauseSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/WrapperHelper.cs
Due: production

Add test case for issue #2532
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1008CSharp7UnitTests.cs
Due: none

Updated after review
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LightupHelpers.cs
Due: production

Path conditions:
  production: any of: StyleCop.Analyzers/StyleCop.Analyzers/, StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test: any of: StyleCop.Analyzers/StyleCop.Analyzers.Test/, StyleCop.Analyzers/StyleCopTester/
