Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Fix handling of generic delegates in file type name
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1649UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Helpers/CommonMemberData.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Helpers/JsonTestHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1402ForDelegateUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1402ForNonBlockDeclarationUnitTestsBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopCodeFixVerifier`2.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/FileNameHelpers.cs
Due: production, test

Update to StyleCop.Analyzers 1.2.0-beta.406
  StyleCop.Analyzers/Directory.Build.props
Due: none

Corrected documentation for SA1516 #3235
  documentation/SA1516.md
Due: none

Corrections after upgrading StyleCop.Analyzers package
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/TupleElementNameCase.cs
Due: production

Updated code fix name for SA1027 to be ok regardless of the 'useTabs' setting #3102
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SpacingResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SpacingResources.resx
Due: production

Updated SA1008 to handle tuples in logical patterns #3476
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/SpacingRules/SA1008CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxKindEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1008OpeningParenthesisMustBeSpacedCorrectly.cs
Due: production

Removed redundant code
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/DocumentationRules/SA1600CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/ReadabilityRules/SA1101CSharp11UnitTests.cs
Due: none

Updated Microsoft.CodeAnalysis.Analyzers to version 3.3.3
  StyleCop.Analyzers/Directory.Build.props
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/FileHeaderCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1208SystemUsingDirectivesMustBePlacedBeforeOtherUsingDirectives.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1024ColonsMustBeSpacedCorrectly.cs
Due: production

Upgraded the new test project to Microsoft.CodeAnalysis.CSharp.Workspaces version 4.2.0-4.final
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/LayoutRules/SA1516CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/MaintainabilityRules/SA1119CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/NamingRules/SA1300CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/StyleCop.Analyzers.Test.CSharp11.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/LayoutRules/SA1516CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/NamingRules/SA1300CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1119UnitTests.cs
Due: test

Added temporary hack to set language version "preview" when running in the c# 11 test project
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopCodeFixVerifier`2.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopDiagnosticVerifier`1.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LightupHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxKindEx.cs
Due: production, test

remove same values at SA1201ElementsMustAppearInTheCorrectOrder.MemberNames
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1201ElementsMustAppearInTheCorrectOrder.cs
Due: production

Updated SA1009 to forbid space after a closing parenthesis in a method reference contained in single quotes
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1009UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1009ClosingParenthesisMustBeSpacedCorrectly.cs
Due: production, test

Updated SA1015 analyzer to handle generic attributes (c# 11 preview) #3487
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/SpacingRules/SA1015CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1015ClosingGenericBracketsMustBeSpacedCorrectly.cs
Due: production

Update to StyleCop.Analyzers 1.2.0-beta.435
  StyleCop.Analyzers/Directory.Build.props
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/TupleElementNameCase.cs
Due: production

Configure IDE0005 (Remove unnecessary using statements) as warning
  .editorconfig
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/SA1642SA1643CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/SyntaxLightupGenerator.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/SA1210CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1009CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/SpacingRules/SA1023CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1402ForDelegateUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/PropertySummaryDocumentationAnalyzer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1625ElementDocumentationMustNotBeCopiedAndPasted.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1642ConstructorSummaryDocumentationMustBeginWithStandardText.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1643DestructorSummaryDocumentationMustBeginWithStandardText.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/AnalyzerConfigOptionsProviderWrapper.cs
Due: production, test

Configure IDE0052 (Remove unread private member) as warning
  .editorconfig
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1024ColonsMustBeSpacedCorrectly.cs
Due: production

Configure IDE0051 (Remove unused private member) as warning
  .editorconfig
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/SettingsHelper.cs
Due: production

Configure IDE0059 (Remove unnecessary value assignment) as warning
  .editorconfig
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1129UnitTests.cs
Due: test

Add c# 11 test project to opencover-report.ps1
  build/opencover-report.ps1
Due: none

Use GetText instead of ToFullString
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/OperationLightupGenerator.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/SyntaxLightupGenerator.cs
Due: none

Update StyleCopTester project so it is able to load the StyleCop solution. Did not start before due to assembly load exception.
  .gitignore
  StyleCop.Analyzers/StyleCopTester/StyleCopTester.csproj
Due: test

Improve code in AnalyzerExtensions, so that lambda parameter names do not hide variable names
  StyleCop.Analyzers/StyleCop.Analyzers/AnalyzerExtensions.cs
Due: production

Straighten out code in SettingsHelper
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/SettingsHelper.cs
Due: production

Performance improvement: Add new methods in SettingsHelper which uses a SourceTextValueProvider. Updated AnalyzerExtensions to use them.
  StyleCop.Analyzers/StyleCop.Analyzers/AnalyzerExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/SettingsHelper.cs
Due: production

Remove duplicate code in SettingsHelper
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/SettingsHelper.cs
Due: production

Performance improvement: Update analyzers to use a SourceTextValueProvider to cache the parsed json object.
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/Settings/SettingsFileCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/HelperTests/IndentationHelperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Settings/SettingsFileCodeFixProviderUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Settings/SettingsUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopCodeFixVerifier`2.cs
  StyleCop.Analyzers/StyleCop.Analyzers/AnalyzerExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/ElementDocumentationBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/ElementDocumentationSummaryBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/PartialElementDocumentationSummaryBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/PropertyDocumentationBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1600ElementsMustBeDocumented.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1601PartialElementsMustBeDocumented.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1602EnumerationItemsMustBeDocumented.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1615ElementReturnValueMustBeDocumented.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1618GenericTypeParametersMustBeDocumented.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1619GenericTypeParametersMustBeDocumentedPartialClass.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1649FileNameMustMatchTypeName.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1503BracesMustNotBeOmitted.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1516ElementsMustBeSeparatedByBlankLine.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1518UseLineEndingsCorrectlyAtEndOfFile.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1519BracesMustNotBeOmittedFromMultiLineChildStatement.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1402FileMayOnlyContainASingleType.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1300ElementMustBeginWithUpperCaseLetter.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1305FieldNamesMustNotUseHungarianNotation.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1200UsingDirectivesMustBePlacedCorrectly.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1201ElementsMustAppearInTheCorrectOrder.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1202ElementsMustBeOrderedByAccess.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1203ConstantsMustAppearBeforeFields.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1204StaticElementsMustAppearBeforeInstanceElements.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1208SystemUsingDirectivesMustBePlacedBeforeOtherUsingDirectives.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1210UsingDirectivesMustBeOrderedAlphabeticallyByNamespace.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1214ReadonlyElementsMustAppearBeforeNonReadonlyElements.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1217UsingStaticDirectivesMustBeOrderedAlphabetically.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/SettingsHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/SettingsJsonHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1027UseTabsCorrectly.cs
Due: production, test

Keep tracked nodes in a list
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1133CodeFixProvider.cs
Due: production

Update SA1515 to not let one range of trivia affect another. This basically reverts the analyzer change from commit 274493b8e0 and implements it in another way. #3481
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1515UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1515SingleLineCommentMustBePrecededByBlankLine.cs
Due: production, test

Add nested diagnostics test
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/MaintainabilityRules/SA1413CSharp9UnitTests.cs
Due: none

Update SA1413CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/MaintainabilityRules/SA1413CSharp9UnitTests.cs
Due: none

Update SA1023 to not trigger first in line, inside a foreach without braces #3538
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1023UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1023DereferenceAndAccessOfSymbolsMustBeSpacedCorrectly.cs
Due: production, test

Update SA1137 to correctly fix a violation where the closing brace is not on a separate line #3296
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1137UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1137ElementsShouldHaveTheSameIndentation.cs
Due: production, test

Remove redundant tests for SA1407. (Already tested in codefix tests in the same test class.)
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1407UnitTests.cs
Due: test

Improve tests for SA1407
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1407UnitTests.cs
Due: test

Update SA1407 to also handle % as a multiplicative operator. Also update documentation example to avoid potentially misleading people. #3545
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1407UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1407ArithmeticExpressionsMustDeclarePrecedence.cs
  documentation/SA1407.md
Due: production, test

Mentioned VS 2022
  documentation/EnableConfiguration.md
Due: none

Path conditions:
  production: any of: StyleCop.Analyzers/StyleCop.Analyzers/, StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test: any of: StyleCop.Analyzers/StyleCop.Analyzers.Test/, StyleCop.Analyzers/StyleCopTester/
