Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Avoid captures in NamingSettings constructor
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/NamingSettings.cs
Due: production

Avoid repeat allocations in Enum.TryParse
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/JsonHelper.cs
Due: production

Rename method to indicate use only in code fixes
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/FileHeaderCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/SA1642SA1643CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/LayoutRules/SA1500CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/LayoutRules/SA1501CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/LayoutRules/SA1502CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/LayoutRules/SA1504CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/LayoutRules/SA1518CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/MaintainabilityRules/SA1402CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/ElementOrderCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/UsingCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1102CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1103CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1104SA1105CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1116CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1127CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1128CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1133CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1134CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1136CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/SpacingRules/SA1027CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/HelperTests/IndentationHelperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/SettingsHelper.cs
Due: production, test

Rename method to indicate use only in tests
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/Settings/SettingsCSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Settings/SettingsUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/SettingsHelper.cs
Due: production, test

Cache StyleCop settings instances in analyzers
  StyleCop.Analyzers/StyleCop.Analyzers/AnalyzerExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/SettingsHelper.cs
Due: production

Exempt file-local types from SA1402 [resolves #3803]
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/MaintainabilityRules/SA1402ForClassCSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/MaintainabilityRules/SA1402ForDelegateCSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/MaintainabilityRules/SA1402ForEnumCSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/MaintainabilityRules/SA1402ForInterfaceCSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/MaintainabilityRules/SA1402ForRecordCSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/MaintainabilityRules/SA1402ForRecordClassCSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/MaintainabilityRules/SA1402ForRecordStructCSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/MaintainabilityRules/SA1402ForStructCSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1402FileMayOnlyContainASingleType.cs
  documentation/SA1402.md
Due: production

SA1313: Adding features and tests.
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/NamingRules/SA1313CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/NamingRules/SA1313CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/NamingRules/SA1313UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/SyntaxTreeHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1313ParameterNamesMustBeginWithLowerCaseLetter.cs
  documentation/SA1313.md
Due: production, test

Fix coverage
  StyleCop.Analyzers/StyleCop.Analyzers.Test/HelperTests/SyntaxTreeHelpersTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/NamingRules/SA1313UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/SyntaxTreeHelpers.cs
Due: production, test

Update SA1008 to require a space before the opening parenthesis if it's the left operand of a range expression. Also add test for SA1008 in collection expression. #3894
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/SpacingRules/SA1008CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1008CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1008OpeningParenthesisMustBeSpacedCorrectly.cs
Due: production

Fix codecov not displaying on GitHub
  README.md
Due: none

Update the code analysis nuget in the c# 13 test project to the official 4.12.0 version
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/LayoutRules/SA1504CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/StyleCop.Analyzers.Test.CSharp13.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1504UnitTests.cs
Due: test

fixed https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues/3904 Collectionexpressions are detected as variable declarations and not as InitializerExpression
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/ReadabilityRules/SA1137CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1137ElementsShouldHaveTheSameIndentation.cs
Due: production

Provide a default global .editorconfig
  global.editorconfig
Due: none

SA1011 allow question token after closing bracket to support nullable array types
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1011ClosingSquareBracketsMustBeSpacedCorrectly.cs
Due: production

Update SA1013 to allow whitespace before } when it starts a line inside interpolated string
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/SpacingRules/SA1013CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1013ClosingBracesMustBeSpacedCorrectly.cs
Due: production

update SA1518 to ignore empty (0 bytes) files
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1518UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/SyntaxTreeHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1518UseLineEndingsCorrectlyAtEndOfFile.cs
Due: production, test

move empty file check to end of check
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1518UseLineEndingsCorrectlyAtEndOfFile.cs
Due: production

add tests for white space only files not beeing classified as empty
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1518UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/SyntaxTreeHelpers.cs
Due: production, test

Updated SA1008OpeningParenthesisMustBeSpacedCorrectly to disallow a leading space before a lambda in a collection expression #3931
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/SpacingRules/SA1008CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1008OpeningParenthesisMustBeSpacedCorrectly.cs
Due: production

Updated SettingsHelper to not throw exception if the settings file can not be read #3902
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/SettingsHelper.cs
Due: production

Do not report SA1516 for two consecutive single line properties
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1516UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1516ElementsMustBeSeparatedByBlankLine.cs
Due: production, test

Update SA1200UsingDirectivesMustBePlacedCorrectly to not trigger in files with only global using directives #3875
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/SA1200CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/SA1200OutsideNamespaceCSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/SA1200PreserveCSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/UsingDirectiveSyntaxExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1200UsingDirectivesMustBePlacedCorrectly.cs
Due: production

Update SA1515SingleLineCommentMustBePrecededByBlankLine to not require a blank line at the start of an expression body #3550
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/LayoutRules/SA1515CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1515UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1515SingleLineCommentMustBePrecededByBlankLine.cs
Due: production, test

feat: add new rule SA1317
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/Helpers/TaskHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/NamingRules/SA1317CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/NamingRules/SA1317CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/NamingRules/SA1317CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/NamingRules/SA1317CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/NamingRules/SA1317CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/NamingRules/SA1317CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/NamingRules/SA1317CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/NamingRules/SA1317CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/NamingRules/SA1317UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/AnalyzerReleases.Unshipped.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/NamingResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/NamingResources.resx
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1317IdentifierShouldBeNamedOnlyWithLatinLetters.cs
  documentation/NamingRules.md
  documentation/SA1317.md
Due: production, test

feat: add tests for a record type
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/NamingRules/SA1317CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1317IdentifierShouldBeNamedOnlyWithLatinLetters.cs
Due: production

Add Czech translations for documentation strings for documentation culture cs-CZ.
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.cs-CZ.resx
Due: production

Fixed 9 instance of code causing IDE0038
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/ElementOrderCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/UsingCodeFixProvider.TreeTextSpan.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/DeclarationModifiersHelper.cs
Due: production

Fixes for IDE00250 and IDE0251
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/ObjectPools/PooledObject`1.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/TriviaHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/JsonValue.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SeparatedSyntaxListWrapper`1.cs
  StyleCop.Analyzers/StyleCopTester/Program.cs
  StyleCop.Analyzers/StyleCopTester/Statistic.cs
Due: production, test

Migrate CI from AppVeyor to GitHub Actions (#2)
  .github/workflows/build.yml
  .gitignore
  README.md
  StyleCopAnalyzers.sln
  appveyor.yml
  build/Set-EnvVars.ps1
Due: none

Build with the latest .NET SDK
  global.json
Due: none

Fixes IDE0270 and IDE0052
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/OperationLightupGenerator.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/SyntaxLightupGenerator.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/PartialElementDocumentationSummaryBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/XPathExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1012OpeningBracesMustBeSpacedCorrectly.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1024ColonsMustBeSpacedCorrectly.cs
Due: production

Address requested changes
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/Settings/SettingsCSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1601UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1619UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Settings/SettingsUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1600ElementsMustBeDocumented.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/DocumentationSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/InterfaceDocumentationMode.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/stylecop.schema.json
Due: production, test

Avoid placing expected values in parameters
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Settings/SettingsUnitTests.cs
Due: test

Updated the existing Dutch resources to fix mismatches
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.nl-NL.resx
Due: production

Added the two validation strings for Dutch property summaries and aligned the remaining wording:
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.nl-NL.resx
Due: production

Validate additional cross-casting cases
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/ForEachVariableStatementSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/Lightup/ForEachVariableStatementSyntaxWrapperCSharp8UnitTests.cs
Due: none

Path conditions:
  production: any of: StyleCop.Analyzers/StyleCop.Analyzers/, StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test: any of: StyleCop.Analyzers/StyleCop.Analyzers.Test/, StyleCop.Analyzers/StyleCopTester/
