Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

flags:
  production:
    paths:
      - StyleCop.Analyzers/StyleCop.Analyzers/
      - StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test:
    paths:
      - StyleCop.Analyzers/StyleCop.Analyzers.Test/
      - StyleCop.Analyzers/StyleCopTester/

Update `stylecop.json` schema to have correct default for `headerDecoration`.
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/stylecop.schema.json
Due: production

Add tests for ForEachVariableStatementSyntaxWrapper #2377
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/Lightup/ForEachVariableStatementSyntaxWrapperCSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/Lightup/ForEachVariableStatementSyntaxWrapperCSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/Lightup/ForEachVariableStatementSyntaxWrapperCSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/ForEachVariableStatementSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/Lightup/ForEachVariableStatementSyntaxWrapperCSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/Lightup/ForEachVariableStatementSyntaxWrapperCSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/ForEachVariableStatementSyntaxWrapperTests.cs
Due: test

Update `DocumentSettings` to use correct default for `headerDecoration`.
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/DocumentationSettings.cs
Due: production

Update SA1004 to allow doc comments to start with the readonly keyword #3817
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/SpacingRules/SA1004CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1004DocumentationLinesMustBeginWithSingleSpace.cs
Due: production

Corrected SA1604 documentation to include a relevant example #3848
  documentation/SA1604.md
Due: none

Update SA1015 to not care about trailing spaces in a number of cases: typically last in dictionary initializer items, collection initializers and collection expressions. #3856
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/SpacingRules/SA1015CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/SpacingRules/SA1015CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1015CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1015CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1015UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1015ClosingGenericBracketsMustBeSpacedCorrectly.cs
Due: production, test

Correct SA1629 to add a period if the documentation ends in an xml entity. Previously replaced the semicolon in the xml entity. #3802
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1629UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1629DocumentationTextMustEndWithAPeriod.cs
Due: production, test

Fixes after review #3802
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1629DocumentationTextMustEndWithAPeriod.cs
Due: production

Updated code to check for trailing whitespace and extra space. Updated and added Tests
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1001UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1001CommasMustBeSpacedCorrectly.cs
Due: production, test

Added changes to allow the <para> tag in <summary>. Added Unit test for SA1642
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1642UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/StandardTextDiagnosticBase.cs
Due: production, test

updated documentation
  documentation/SA1642.md
Due: none

Updated unit test
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1642UnitTests.cs
Due: test

Updated unit tests with diagnostic location
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1001UnitTests.cs
Due: test

Added new logic to skip SA1514 when documenting types declared in the global namespace
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1514UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1514ElementDocumentationHeaderMustBePrecededByBlankLine.cs
Due: production, test

Also update build-and-test.yml and test.yml
  StyleCopAnalyzers.sln
  build/build-and-test.yml
  build/test.yml
Due: none

Added "treatMultilineParametersAsSplit" setting.
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/ReadabilitySettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/stylecop.schema.json
Due: production

Updated documentation.
  documentation/Configuration.md
  documentation/SA1116.md
  documentation/SA1117.md
Due: none

Updated the implementation of SA1117 to use the "treatMultilineParametersAsSplit" setting.
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/ReadabilityRules/SA1117CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1117CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1117UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1117ParametersMustBeOnSameLineOrSeparateLines.cs
Due: production, test

Updated the implementation of SA1116 to use the "treatMultilineParametersAsSplit" setting.
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/ReadabilityRules/SA1116CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1116CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1116UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1116SplitParametersMustStartOnLineAfterDeclaration.cs
Due: production, test

Added new analyzer for alternate implementation of SA1117.
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SX1117CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/ReadabilityRules/SX1117CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/ReadabilityRules/SX1117CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/ReadabilityRules/SX1117CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/ReadabilityRules/SX1117CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SX1117CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SX1117UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/AnalyzerReleases.Unshipped.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/ReadabilityResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/ReadabilityResources.resx
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SX1117ParametersMustBeOnSameLineOrSeparateLines.cs
  StyleCopAnalyzers.sln
  documentation/SX1117.md
Due: production, test

Added new analyzer for alternate implementation of SA1116.
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SX1116CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SX1116CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/ReadabilityRules/SX1116CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/ReadabilityRules/SX1116CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/ReadabilityRules/SX1116CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/ReadabilityRules/SX1116CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SX1116CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SX1116UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/AnalyzerReleases.Unshipped.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/ReadabilityResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/ReadabilityResources.resx
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SX1116SplitParametersMustStartOnLineAfterDeclaration.cs
  StyleCopAnalyzers.sln
  documentation/SX1116.md
Due: production, test

Updated code and tests.
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1514UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1514ElementDocumentationHeaderMustBePrecededByBlankLine.cs
Due: production, test

Added more tests
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1514UnitTests.cs
Due: test

Updated documentation.
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/ReadabilityResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/ReadabilityResources.resx
  documentation/AlternativeRules.md
  documentation/SX1116.md
  documentation/SX1117.md
Due: production

Updated unit tests.
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SX1116UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SX1117UnitTests.cs
Due: test

Added tests
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/FileMayOnlyContainTestBase.cs
Due: test

Added removal of unnecessary usings
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/MaintainabilityRules/SA1402CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/FileMayOnlyContainTestBase.cs
Due: production, test

Add tests and update to remove trailing preprocessor directives
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/MaintainabilityRules/SA1402CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/FileMayOnlyContainTestBase.cs
Due: production, test

WIP. Cleanup
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/MaintainabilityRules/SA1402CodeFixProvider.cs
Due: production

Updated code fix to remove extra line from trailing preprocessor directive
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/MaintainabilityRules/SA1402CodeFixProvider.cs
Due: production

code cleanup. Added more tests
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/MaintainabilityRules/SA1402CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/FileMayOnlyContainTestBase.cs
Due: production, test

Update the code analysis nuget in the c# 13 test project
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/StyleCop.Analyzers.Test.CSharp13.csproj
Due: none

Adjusted code for more preprocessor conditions
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/MaintainabilityRules/SA1402CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/FileMayOnlyContainTestBase.cs
Due: production, test

Added more tests
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/FileMayOnlyContainTestBase.cs
Due: test

Updated tests
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1001UnitTests.cs
Due: test

Update PropertySummaryDocumentationAnalyzer to bail out earlier if the current node is not an XmlElementSyntax
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/PropertySummaryDocumentationAnalyzer.cs
Due: production

Update PropertySummaryDocumentationAnalyzer (SA1623 and SA1624) to ignore summary tags containing an inheritdoc tag #3465
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1623UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1624UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/PropertySummaryDocumentationAnalyzer.cs
Due: production, test

Update SA1135UsingDirectivesMustBeQualified to not crash on a UsingDirectiveSyntax without a Name (c# 12's "alias any type") #3882
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SA1135CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/ReadabilityRules/SA1135CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/ReadabilityRules/SA1135CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/ReadabilityRules/SA1135CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1135UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1135UsingDirectivesMustBeQualified.cs
Due: production, test

Use a struct enumerator for JsonObject
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/JsonObject.cs
Due: production
