Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

flags:
  production:
    paths:
      - StyleCop.Analyzers/StyleCop.Analyzers/
      - StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test:
    paths:
      - StyleCop.Analyzers/StyleCop.Analyzers.Test/
      - StyleCop.Analyzers/StyleCopTester/

Integrate rule status page into the DocFX site
  CONTRIBUTING.md
  README.md
  build/status-page.test.cjs
  docfx.json
  docs/index.html
  docs/status.md
  documentation/RuleStatus.md
  documentation/index.md
  documentation/toc.yml
  toc.yml
Due: none

Allow whitespace before comments after opening parentheses
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1008OpeningParenthesisMustBeSpacedCorrectly.cs
  documentation/SA1008.md
Due: production

Match SA1649 filenames to decoded type identifiers
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1649UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/FileNameHelpers.cs
  documentation/SA1649.md
Due: production, test

Doc touch-ups
  documentation/index.md
  documentation/toc.yml
  toc.yml
Due: none

Fix SA1137 indentation for inline closing braces
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/IndentationCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/ReadabilityRules/SA1137CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1137UnitTests.cs
Due: production, test

Fix SA1304 precedence for protected readonly fields
  StyleCop.Analyzers/StyleCop.Analyzers.Test/NamingRules/SA1304UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1304NonPrivateReadonlyFieldsMustBeginWithUpperCaseLetter.cs
  documentation/SA1304.md
  documentation/SA1307.md
Due: production, test

Keep SA1649 decoded filenames local
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1649FileNameMustMatchTypeName.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/FileNameHelpers.cs
Due: production

Handle leading comments in SA1137 closing delimiter fixes
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/IndentationCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/ReadabilityRules/SA1137CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1137UnitTests.cs
Due: production, test

Reuse SA1600 base type callback for record parameters
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1600ElementsMustBeDocumented.cs
Due: production

Check repository markup links in GitHub Actions
  .github/workflows/build.yml
  .mlc.toml
  CONTRIBUTING.md
  README.md
  docs/index.html
  docs/status.md
  documentation/Configuration.md
Due: none

Refresh Russian docs for latest master changes
  documentation/ru-ru/SA1600.md
  documentation/ru-ru/SA1649.md
Due: none

Add missing documentation resource translations
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.cs-CZ.resx
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.de-DE.resx
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.en-GB.resx
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.es-MX.resx
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.fr-FR.resx
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.nl-NL.resx
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.pl-PL.resx
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.pt-BR.resx
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.ru-RU.resx
Due: production

Correct localized spelling and preserve return fragment spaces
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.en-GB.resx
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.nl-NL.resx
Due: production

Document the workflow for maintaining resource translations
  .agents/skills/maintaining-translations/SKILL.md
  AGENTS.md
Due: none

Allow all settings in .editorconfig and document unified configuration
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/Settings/SettingsCSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/Settings/SettingsCSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/AnalyzerConfigOptionsWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/AnalyzerConfigHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/DocumentationSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/LayoutSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/MaintainabilitySettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/OrderingSettings.cs
  documentation/Configuration.md
Due: production

Use direct content links for failing GitHub file URLs
  .agents/skills/csharp-language-version-audit/SKILL.md
  documentation/Configuration.md
  documentation/ru-ru/Configuration.md
Due: none

Use .NET 11 reference assemblies for C# 15 tests
  .agents/skills/testing-and-coverage/SKILL.md
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/GenericAnalyzerTest.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopCodeFixVerifier`2.cs
Due: test

Add annotated .editorconfig template to Configuration.md
  documentation/Configuration.md
Due: none

Add SettingsReader and port LayoutSettings as a pilot
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/LayoutSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/SettingsReader.cs
Due: production

Use file-scoped namespace in SettingsReader; add rule to AGENTS.md
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/SettingsReader.cs
Due: production

Add file-scoped namespace rule to AGENTS.md
  AGENTS.md
Due: none

Port all settings classes to SettingsReader; document the rule in AGENTS.md
  AGENTS.md
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/DocumentationSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/IndentationSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/MaintainabilitySettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/NamingSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/OrderingSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/ReadabilitySettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/SettingsReader.cs
Due: production

Fix configuration documentation rule-status link
  documentation/Configuration.md
Due: none

Mirror unified configuration docs in Russian and fix documented defaults
  documentation/Configuration.md
  documentation/ru-ru/Configuration.md
Due: none

Use compiled accessor for AnalyzerConfigOptions.Keys and test JSON precedence
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/Settings/SettingsCSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/AnalyzerConfigOptionsWrapper.cs
Due: production

Remove inaccurate case-insensitivity claim from template docs
  documentation/Configuration.md
  documentation/ru-ru/Configuration.md
Due: none

Skip GitHub URLs in markup link checks
  .mlc.toml
Due: none

Add reproducible test concurrency experiments
  .github/workflows/test-performance.yml
  build/test-performance.ps1
Due: none

Add a full-suite TUnit scheduling experiment
  .github/workflows/test-performance-tunit.yml
  .github/workflows/test-performance.yml
  build/test-performance.ps1
  build/test-performance/.gitignore
  build/test-performance/Generate/Generate.csproj
  build/test-performance/Generate/Program.cs
  build/test-performance/TUnit/TUnit.csproj
  build/test-performance/TUnit/TestInvoker.cs
Due: none

Measure bounded test processes after grouped memory exhaustion
  .github/workflows/test-performance-bounded.yml
  build/test-performance-groups.ps1
Due: none

Fix PowerShell parallel-run parameter compatibility
  build/test-performance-groups.ps1
Due: none

Document performance experiments and keep workflows manual
  .github/workflows/test-performance-bounded.yml
  .github/workflows/test-performance-tunit.yml
  CONTRIBUTING.md
Due: none

Record local and hosted test performance findings
  CONTRIBUTING.md
Due: none

Move analyzer test matrix and coverage jobs to Linux
  .agents/skills/csharp-language-version-audit/SKILL.md
  .agents/skills/fixing-a-bug/SKILL.md
  .agents/skills/testing-and-coverage/SKILL.md
  .gitattributes
  .github/workflows/build.yml
  CONTRIBUTING.md
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/FileHeaderCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/StyleCop.Analyzers.Test.CSharp10.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/StyleCop.Analyzers.Test.CSharp11.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/StyleCop.Analyzers.Test.CSharp12.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/StyleCop.Analyzers.Test.CSharp13.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/StyleCop.Analyzers.Test.CSharp14.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/StyleCop.Analyzers.Test.CSharp15.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/StyleCop.Analyzers.Test.CSharp8.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/StyleCop.Analyzers.Test.CSharp9.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1636UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopCodeFixVerifier`2.cs
  dotnet-tools.json
Due: production, test

Move solution build jobs to Linux
  .agents/skills/testing-and-coverage/SKILL.md
  .gitattributes
  .github/workflows/build.yml
  CONTRIBUTING.md
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/SolutionReader.cs
Due: none

Centralize serial build settings in a response file
  .github/workflows/build.yml
  CONTRIBUTING.md
  Directory.Build.rsp
Due: none

Simplify SDK solution build commands
  .github/workflows/build.yml
  CONTRIBUTING.md
Due: none
