Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

flags:
  production:
    paths:
      - StyleCop.Analyzers/StyleCop.Analyzers/
      - StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test:
    paths:
      - StyleCop.Analyzers/StyleCop.Analyzers.Test/
      - StyleCop.Analyzers/StyleCopTester/

Permanently disable SA1644 (Documentation headers should not contain blank lines)
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/DocumentationRules/SA1644CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1644UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1644DocumentationHeadersMustNotContainBlankLines.cs
  documentation/KnownChanges.md
  documentation/SA1644.md
Due: production, test

Update SA1516 to handle assembly attributes
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/LayoutRules/SA1516CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1516UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1516ElementsMustBeSeparatedByBlankLine.cs
Due: production, test

Clarify unreachable code location
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/DiagnosticOptionsHelper.cs
Due: production

Simplify access to SA1307's descriptor
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1304NonPrivateReadonlyFieldsMustBeginWithUpperCaseLetter.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1307AccessibleFieldsMustBeginWithUpperCaseLetter.cs
Due: production

Add API lists for C# 7.1-7.3
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp7.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp71.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp72.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp73.md
Due: production

Update documentation analyzer to handle ref returns
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/DocumentationRules/SA1623CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/PropertySummaryDocumentationAnalyzer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/TypeSyntaxHelper.cs
Due: production

Update the lightup layer to account for changes in C# 7.1-7.3
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ArgumentSyntaxExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp71.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp72.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp73.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CrefParameterSyntaxExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/INamedTypeSymbolExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ITypeParameterSymbolExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ImplicitStackAllocArrayCreationExpressionSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LanguageVersionEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LightupHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/RefTypeSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/StackAllocArrayCreationExpressionSyntaxExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxKindEx.cs
Due: production

Add tests for the new lightup layer features
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/ArgumentSyntaxExtensionsTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/CrefParameterSyntaxExtensionsTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/ImplicitStackAllocArrayCreationExpressionSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/RefTypeSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/StackAllocArrayCreationExpressionSyntaxExtensionsTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/ArgumentSyntaxExtensionsTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/CrefParameterSyntaxExtensionsTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/INamedTypeSymbolExtensionsTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/ITypeParameterSymbolExtensionsTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/ImplicitStackAllocArrayCreationExpressionSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/RefTypeSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/StackAllocArrayCreationExpressionSyntaxExtensionsTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ArgumentSyntaxExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CrefParameterSyntaxExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ImplicitStackAllocArrayCreationExpressionSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/WrapperHelper.cs
Due: production, test

Update rules to account for stackalloc initializers
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/LayoutRules/SA1505CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/LayoutRules/SA1508CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/LayoutRules/SA1509CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/LayoutRules/SA1513CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/MaintainabilityRules/SA1413CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/ReadabilityRules/SA1137CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1000CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1001CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1002CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1010CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1011CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1012CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1013CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1026CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1000UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1026UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1000KeywordsMustBeSpacedCorrectly.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1010OpeningSquareBracketsMustBeSpacedCorrectly.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1026CodeMustNotContainSpaceAfterNewKeywordInImplicitlyTypedArrayAllocation.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SpacingResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SpacingResources.resx
  documentation/SA1000.md
  documentation/SA1026.md
Due: production, test

Attempt to configure OpenCover for faster builds
  build/opencover-report.ps1
Due: none

Update SA1207 to handle 'private protected' accessibility
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/SA1207CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/OrderingRules/SA1207CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1207UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1207ProtectedMustComeBeforeInternal.cs
  documentation/SA1207.md
Due: production, test

Simplify the specification of LanguageVersion for testing
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/LayoutRules/SA1505CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/LayoutRules/SA1508CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/LayoutRules/SA1509CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/LayoutRules/SA1513CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/MaintainabilityRules/SA1413CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/OrderingRules/SA1206CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/OrderingRules/SA1207CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/ReadabilityRules/SA1131CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/ReadabilityRules/SA1137CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1001CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1002CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1010CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1011CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1012CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1013CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1026CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1600UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1000UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopCodeFixVerifier`2.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopDiagnosticVerifier`1.cs
Due: test

Remove unnecessary uses of LanguageVersion.CSharp7_3
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/LayoutRules/SA1505CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/LayoutRules/SA1508CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/LayoutRules/SA1509CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/LayoutRules/SA1513CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/ReadabilityRules/SA1137CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1001CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1011CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1013CSharp7UnitTests.cs
Due: none

Remove incorrect comment
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/StackAllocArrayCreationExpressionSyntaxExtensionsTests.cs
Due: none

Update version for 1.1.1-rc
  StyleCop.Analyzers/version.json
Due: none

Update the master branch to 2.0.0-beta
  StyleCop.Analyzers/version.json
Due: none

Fix SA1135 getting reported for top-level namespaces
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1135UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/SymbolNameHelpers.cs
Due: production, test

Update the master branch to 1.2.0-beta
  StyleCop.Analyzers/version.json
Due: none

Update to StyleCop Analyzers 1.1.1-rc.94
  NuGet.config
  StyleCop.Analyzers/Directory.Build.props
Due: none

Fix violations of SA1101
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopCodeFixVerifier`2.cs
Due: test

Update to Microsoft.CodeAnalysis.CSharp.CodeFix.Testing.XUnit 1.0.0-beta1-63810-01
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/MaintainabilityRules/SA1119CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/FileHeaderTestBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/NoXmlFileHeaderUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ExclusionTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1503UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1519UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1520UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1119UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1412UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Settings/SettingsFileCodeFixProviderUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Update to Microsoft.CodeAnalysis.CSharp.CodeFix.Testing.XUnit 1.0.0-beta1-63812-02
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/MaintainabilityRules/SA1119CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1119UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1412UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/DiagnosticVerifierTests.cs
Due: test

Fix incorrect qualification of types nested within generic types
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1135UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/SymbolNameHelpers.cs
Due: production, test

Additional tests and fixes for qualified using directives
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1135CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/ReadabilityRules/SA1135CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1135UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/SymbolNameHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp7.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/IFieldSymbolExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1135UsingDirectivesMustBeQualified.cs
Due: production, test

Additional tests and fixes for qualified using directives
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1135UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/SymbolNameHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1135UsingDirectivesMustBeQualified.cs
Due: production, test

Update to StyleCop Analyzers 1.1.1-rc.101
  StyleCop.Analyzers/Directory.Build.props
Due: none

Fix handling of missing 'select' clause
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1103CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1103UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA110xQueryClauses.cs
Due: production, test

Use .NET SDK 2.1.504
  global.json
Due: none

Use SPDX license expression instead of link
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/StyleCop.Analyzers.Metadata.nuspec
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/StyleCop.Analyzers.nuspec
Due: production

Document SA1107 behavior anomaly
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1107UnitTests.cs
Due: test

Fixed crash in SA1134 code fix
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1134CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1134UnitTests.cs
Due: production, test

Update to StyleCop Analyzers 1.1.1-rc.108
  StyleCop.Analyzers/Directory.Build.props
Due: none

Fixed spacing issue for SA1139 code fix
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1139CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1139UnitTests.cs
Due: production, test

Fixed SA1130 code fix for return statements and arrow expression clauses
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1130CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1130UnitTests.cs
Due: production, test

Completed SA1141 implementation
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1141CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/ReadabilityRules/SA1141CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/xunit.runner.json
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1141UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/xunit.runner.json
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/LanguageFeatureHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp7.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LanguageVersionEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LightupHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SeparatedSyntaxListWrapper`1.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxFactoryEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/TupleElementSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/ReadabilityResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/ReadabilityResources.resx
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1141UseTupleSyntax.cs
  StyleCopAnalyzers.sln
  documentation/ReadabilityRules.md
  documentation/SA1141.md
Due: production, test

Implemented SA1414
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1141CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/MaintainabilityRules/SA1414CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/MaintainabilityResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/MaintainabilityResources.resx
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1414TupleTypesInSignaturesShouldHaveElementNames.cs
  StyleCopAnalyzers.sln
  documentation/MaintainabilityRules.md
  documentation/SA1414.md
Due: production

SA1142 implementation
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1142CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/ReadabilityRules/SA1142CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/ReadabilityResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/ReadabilityResources.resx
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1142ReferToTupleFieldsByName.cs
  StyleCopAnalyzers.sln
  documentation/ReadabilityRules.md
  documentation/SA1142.md
Due: production

Fixed issues in SA1414
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1414TupleTypesInSignaturesShouldHaveElementNames.cs
Due: production

Added test cases for event initializers
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1130UnitTests.cs
Due: test
