Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Add raw APIs from C# 8 (Roslyn 3.2.0)
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp8.md
Due: production

Use release/dev16.3 as the source of new APIs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp8.md
Due: production

Format APIs as list of check boxes
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp8.md
Due: production

Add specific version
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp8.md
Due: production

Update SyntaxKindEx for C# 8
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp8.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxKindEx.cs
Due: production

Update ClassOrStructConstraintSyntax for C# 8
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp8.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ClassOrStructConstraintSyntaxExtensions.cs
Due: production

Add pattern matching syntax types for C# 8
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp8.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/DiscardPatternSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/PositionalPatternClauseSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/PropertyPatternClauseSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/RecursivePatternSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SubpatternSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxFactoryEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/VarPatternSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/WrapperHelper.cs
Due: production

Implement RangeExpressionSyntaxWrapper for C# 8
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp8.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/RangeExpressionSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/WrapperHelper.cs
Due: production

Add new LanguageVersion values
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp8.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LanguageVersionEx.cs
Due: production

Update syntax for async foreach and async using
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp8.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ForEachStatementSyntaxExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ForEachVariableStatementSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LocalDeclarationStatementSyntaxExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/UsingStatementSyntaxExtensions.cs
Due: production

Update CommonForEachStatementSyntaxWrapper for C# 8
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/CommonForEachStatementSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/Lightup/CommonForEachStatementSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/CommonForEachStatementSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp8.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CommonForEachStatementSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LightupHelpers.cs
Due: production, test

Add tests for SyntaxKindEx, MethodKindEx, LanguageVersionEx
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/LanguageVersionExTestsCSharp7.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/MethodKindExTestsCSharp7.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/SyntaxKindExTestsCSharp7.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/Lightup/LanguageVersionExTestsCSharp8.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/Lightup/MethodKindExTestsCSharp8.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/Lightup/SyntaxKindExTestsCSharp8.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/StyleCop.Analyzers.Test.CSharp8.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/LanguageVersionExTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/MethodKindExTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/SyntaxKindExTests.cs
Due: test

Fix handling of nullable suppression operator after parentheses
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1009CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1009ClosingParenthesisMustBeSpacedCorrectly.cs
Due: production

Add regression test for nullable array return value
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1011CSharp8UnitTests.cs
Due: none

Add regression test for suppression operator in returns
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1009CSharp8UnitTests.cs
Due: none

Update to StyleCop.Analyzers 1.2.0-beta.66
  StyleCop.Analyzers/Directory.Build.props
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/SolutionReader.cs
Due: none

Enabled FixAll support for SA1139
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1139CodeFixProvider.cs
Due: production

Fix issue in SA1130 code fix with parameterless delegates.
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1130CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1130UnitTests.cs
Due: production, test

Changed default settings for SA1316 to PascalCase. Added missing C# 8 tests for SA1316.
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/NamingRules/SA1316CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/NamingRules/SA1316CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/NamingSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/stylecop.schema.json
  documentation/Configuration.md
  documentation/SA1316.md
Due: production

Fix SA1101 requiring 'this' for local functions
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/ReadabilityRules/SA1101CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/StyleCop.Analyzers.Test.CSharp8.csproj
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1101PrefixLocalCallsWithThis.cs
Due: production

Update after review
  documentation/Configuration.md
Due: none

Update after review
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1130CodeFixProvider.cs
Due: production

Added special case to the SA1119 code fix when removing a paren after another paren
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/MaintainabilityRules/SA1119CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1119UnitTests.cs
Due: production, test

Add 'private protected' to SA1202 docs
  documentation/SA1202.md
Due: none

Update Configuration.md
  documentation/Configuration.md
Due: none

Move literals into resources
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.resx
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1612ElementParameterDocumentationMustMatchElementParameters.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/OrderingResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/OrderingResources.resx
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1200UsingDirectivesMustBePlacedCorrectly.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1003SymbolsMustBeSpacedCorrectly.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1008OpeningParenthesisMustBeSpacedCorrectly.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SpacingResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SpacingResources.resx
Due: production

Add test cases for tuple deconstruction
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/NamingRules/SA1312CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/NamingRules/SA1316CSharp7UnitTests.cs
Due: none

Ignore NCrunch artifacts
  .gitignore
Due: none

Make SA1008 not require spaces inside range expressions
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1008CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1008CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1008OpeningParenthesisMustBeSpacedCorrectly.cs
Due: production

Implement Range stub for C# 8.0 test
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1008CSharp8UnitTests.cs
Due: none

Remove the masks for NCrunch artifacts
  .gitignore
Due: none

Add support for SwitchExpressionArmSyntax
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/Lightup/SwitchExpressionArmSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp8.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SwitchExpressionArmSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/WrapperHelper.cs
Due: production

Address code review changes
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/SwitchExpressionArmSyntaxWrapperTestsCSharp7.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/Lightup/SwitchExpressionArmSyntaxWrapperTestsCSharp8.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/SwitchExpressionArmSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp8.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/WrapperHelper.cs
Due: production, test

Use IsEquivalentTo
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/Lightup/SwitchExpressionArmSyntaxWrapperTestsCSharp8.cs
Due: none

Fix the formatting
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp8.md
Due: production

Use modified EqualsGreaterThanToken in switch arm tests
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/Lightup/SwitchExpressionArmSyntaxWrapperTestsCSharp8.cs
Due: none

Add support for SwitchExpressionSyntax
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/SwitchExpressionSyntaxWrapperTestsCSharp7.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/Lightup/SwitchExpressionSyntaxWrapperTestsCSharp8.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/SwitchExpressionSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/CSharp8.md
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SwitchExpressionSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/WrapperHelper.cs
Due: production, test

Make SA1500 work with stackalloc arrays (#3047)
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/LayoutRules/SA1500CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1500BracesForMultiLineStatementsMustNotShareLine.cs
Due: production

Update the codecov upload tool to 1.8.0
  .nuget/packages.config
Due: none

Update Pdb2Pdb to 1.1.0-beta2-19516-01
  .nuget/packages.config
  build/opencover-report.ps1
Due: none

Path conditions:
  production: any of: StyleCop.Analyzers/StyleCop.Analyzers/, StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test: any of: StyleCop.Analyzers/StyleCop.Analyzers.Test/, StyleCop.Analyzers/StyleCopTester/
