Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

refactoring .stylecop.json changes
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Settings/SettingsFileCodeFixProviderUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpecialRules/SA0002UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/SettingsHelper.cs
Due: production, test

stylecop.json documentation updated
  documentation/Configuration.md
Due: none

Added documentation on cross-solution configuration.
  documentation/Configuration.md
Due: none

SA1118 should allow multi-line anonymous object creation expressions
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1118UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1118ParameterMustNotSpanMultipleLines.cs
Due: production, test

Fixed issue in FileHeaderHelpers with incomplete multiline comments
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1633UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/FileHeaderHelpers.cs
Due: production, test

Fixed issue in SA1500 with multi-dimensional array initializers
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/LayoutRules/SA1500CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1500/SA1500UnitTests.ArrayInitializers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1500BracesForMultiLineStatementsMustNotShareLine.cs
Due: production, test

Added additional test cases
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1500/SA1500UnitTests.ArrayInitializers.cs
Due: test

Each switch case containing a single block child is checked independently for consistent indentation
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1137UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1137ElementsShouldHaveTheSameIndentation.cs
Due: production, test

Fix typo in SA1411 documentation
  documentation/SA1411.md
Due: none

Update StyleCopTester to the new Microsoft.CodeAnalysis.Workspaces.MSBuild
  NuGet.config
  StyleCop.Analyzers/StyleCopTester/App.config
  StyleCop.Analyzers/StyleCopTester/Program.cs
  StyleCop.Analyzers/StyleCopTester/Properties/launchSettings.json
  StyleCop.Analyzers/StyleCopTester/StyleCopTester.csproj
Due: test

Ensure single blocks within switch cases are compared to each other
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1137UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1137ElementsShouldHaveTheSameIndentation.cs
Due: production, test

Simplify tests in SA1121UnitTests
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1121UnitTests.cs
Due: test

Add readability configuration setting 'allowBuiltInTypeAliases'
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1121UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1121UseBuiltInTypeAlias.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/ReadabilitySettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/stylecop.schema.json
  documentation/Configuration.md
Due: production, test

Consolidate diagnostic and code fix tests for SA1121
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1121UnitTests.cs
Due: test

Restrict the instance context of SA1101 to accessors
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1101UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1101PrefixLocalCallsWithThis.cs
Due: production, test

Support empty lines in header comments
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/FileHeaderCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/NoXmlFileHeaderUnitTests.cs
Due: production, test

Include CS1712 in the documentation for SA0001
  documentation/SA0001.md
Due: none

Add WorkItem attribute
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/NumberSignSpacingTestBase.cs
Due: test

Enabled unit tests (#2398).
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/MaintainabilityRules/SA1119CSharp7UnitTests.cs
Due: none

Simplify implementation of SA1600 code fix following review
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/SA1600CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1600UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/HelperTests/XmlSyntaxFactoryTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/XmlSyntaxFactory.cs
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
Due: production, test

Add skipped test for empty summary element behavior
  StyleCop.Analyzers/StyleCop.Analyzers.Test/HelperTests/XmlSyntaxFactoryTests.cs
Due: test

Fix incorrect lambda argument references found during review
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/SpacingRules/TokenSpacingCodeFixProvider.cs
Due: production

Make fields readonly
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/UsingCodeFixProvider.TreeTextSpan.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/UsingCodeFixProvider.UsingsSorter.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/UsingCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1101UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Settings/SettingsUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/JsonArray.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/JsonObject.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/JsonValue.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/Serialization/JsonReader.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/Serialization/TextScanner.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/DocumentationSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/IndentationSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/LayoutSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/MaintainabilitySettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/NamingSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/OrderingSettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/ReadabilitySettings.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/StyleCopSettings.cs
Due: production, test

Consolidate test sequence in SA1101UnitTests
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1101UnitTests.cs
Due: test

Update to C# 7
  StyleCop.Analyzers/Directory.Build.props
Due: none

Remove unused pattern matching variables
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/AccessLevelHelper.cs
Due: production

Use pattern matching instead of is-cast
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1407ArithmeticExpressionsMustDeclarePrecedence.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1408ConditionalExpressionsMustDeclarePrecedence.cs
Due: production

Simplify 'is null' check
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LightupHelpers.cs
Due: production

Update SA1131 to support default literal expressions
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/ReadabilityRules/SA1131CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1131UseReadableConditions.cs
Due: production

Wrap expressions for improved readability
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/SA1617CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1615ElementReturnValueMustBeDocumented.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/StandardTextDiagnosticBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/UsingDirectiveSyntaxHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1518UseLineEndingsCorrectlyAtEndOfFile.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1119StatementMustNotUseUnnecessaryParenthesis.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1101PrefixLocalCallsWithThis.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1122UseStringEmptyForEmptyStrings.cs
Due: production

Update version numbers for release 1.1.0-beta007
  StyleCop.Analyzers/Directory.Build.props
  build/version.ps1
Due: none

Prepare for next development iteration
  StyleCop.Analyzers/Directory.Build.props
  build/version.ps1
Due: none

Update to StyleCop Analyzers 1.1.0-beta007
  StyleCop.Analyzers/Directory.Build.props
Due: none

Disable SA1629 Documentation text should end with a period
  StyleCop.Analyzers/StyleCop.Analyzers.ruleset
Due: none

Fix unintentional syntax errors in SA1629 tests
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1629UnitTests.cs
Due: test

Fix reporting location of SA1629 after empty elements
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1629UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1629DocumentationTextMustEndWithAPeriod.cs
Due: production, test

Fix SA1629 and SA1608 reporting for interfaces
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1608UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1629UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/ElementDocumentationBase.cs
Due: production, test

Path conditions:
  production: any of: StyleCop.Analyzers/StyleCop.Analyzers/, StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test: any of: StyleCop.Analyzers/StyleCop.Analyzers.Test/, StyleCop.Analyzers/StyleCopTester/
