Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Enable AppVeyor caching for new-style NuGet packages
  appveyor.yml
Due: none

Fixes SA1500 for array initializers
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/LayoutRules/SA1500CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1500/SA1500UnitTests.ArrayInitializers.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1500/SA1500UnitTests.Properties.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1500BracesForMultiLineStatementsMustNotShareLine.cs
Due: production, test

All changes made for format string component and alignment component
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1001UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1011UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1024UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1001CommasMustBeSpacedCorrectly.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1011ClosingSquareBracketsMustBeSpacedCorrectly.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1024ColonsMustBeSpacedCorrectly.cs
  documentation/SA1001.md
  documentation/SA1011.md
  documentation/SA1024.md
Due: production, test

Clarified documentation, removed indentation, and added additional tests
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1001UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1011UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1001CommasMustBeSpacedCorrectly.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1011ClosingSquareBracketsMustBeSpacedCorrectly.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1024ColonsMustBeSpacedCorrectly.cs
  documentation/SA1001.md
  documentation/SA1011.md
  documentation/SA1024.md
Due: production, test

Correctly handle plus/minus in string interpolation alignment component
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/NumberSignSpacingTestBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1001UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1021NegativeSignsMustBeSpacedCorrectly.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1022PositiveSignsMustBeSpacedCorrectly.cs
  documentation/SA1021.md
  documentation/SA1022.md
Due: production, test

Clean up new tests in NumberSignSpacingTestBase
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/NumberSignSpacingTestBase.cs
Due: test

Update build script to work with new project system
  build/build.ps1
  build/keys.ps1
Due: none

Update version numbers for release 1.1.0-beta005
  StyleCop.Analyzers/Directory.Build.props
  build/version.ps1
Due: none

Prepare for next development iteration
  StyleCop.Analyzers/Directory.Build.props
  build/version.ps1
Due: none

Allow single-line ArrayCreationExpression syntax
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1500/SA1500UnitTests.ArrayInitializers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1500BracesForMultiLineStatementsMustNotShareLine.cs
Due: production, test

Expand array initializer test cases
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1500/SA1500UnitTests.ArrayInitializers.cs
Due: test

Update version numbers for release 1.1.0-beta006
  StyleCop.Analyzers/Directory.Build.props
  build/version.ps1
Due: none

Update to StyleCop Analyzers 1.1.0-beta006
  StyleCop.Analyzers/Directory.Build.props
Due: none

Update rule set link to docs.microsoft.com location
  README.md
Due: none

SA1633 Missing from Default ruleset.
  StyleCop.Analyzers/StyleCop.Analyzers.ruleset
Due: none

Added a few simple rules.
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/MaintainabilityRules/TS1002CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/MaintainabilityRules/TS1003CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/SpacingRules/TokenSpacingCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/StyleCop.Analyzers.CodeFixes.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/TS1002UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/TS1003UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/TS1000UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/TS1001UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.ruleset
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/TS1002NumericLiteralsMustHaveSuffix.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/TS1003UseLinqAnyOverCountGreaterThan0.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/TS1000OpeningParenthesisMustBeFollowedByASpace.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/TS1001ClosingParenthesisMustBePrecededByASpace.cs
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
Due: production, test

Added code owners file.
  CODEOWNERS
Due: none

Fixed merge issue, updated analyzer code to work according to current pattern, fixed unit tests
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/ReadabilityRules/SA1135CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1135UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/ReadabilityResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1135UsingDirectivesMustBeQualified.cs
Due: production, test

added SA1135UsingDirectivesMustBeQualified
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1135CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1135UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/ReadabilityResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/ReadabilityResources.resx
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1135UsingDirectivesMustBeQualified.cs
  StyleCopAnalyzers.sln
  documentation/SA1135.md
Due: production, test

Fixed compiler errors after merge Added Test for FixAll
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1135CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1135UnitTests.cs
Due: production, test

Fixed end of file empty line Reverted accidentally committed changed in AnalyzerExtensions
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1135CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1135UsingDirectivesMustBeQualified.cs
Due: production

fixed failing tests for SA1135
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1135UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1135UsingDirectivesMustBeQualified.cs
Due: production, test

use two different messages for namespaces and aliased types in SA1135 check if using is inside a namespace in SA1135
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1135UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/ReadabilityResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/ReadabilityResources.resx
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1135UsingDirectivesMustBeQualified.cs
Due: production, test

changed reported message for SA1135 report SA1135 also for aliased namespaces and types fixed SA1135 was raised for global:: namespaces add more test for SA1135
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1135UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/ReadabilityResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/ReadabilityResources.resx
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1135UsingDirectivesMustBeQualified.cs
Due: production, test

Added additional unit tests and improved the analyzer
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1135UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/UsingDirectiveSyntaxHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1135UsingDirectivesMustBeQualified.cs
Due: production, test

Fixed some typos
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1135UsingDirectivesMustBeQualified.cs
  documentation/SA1135.md
Due: production

Enabled SA1629 by default
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1629DocumentationTextMustEndWithAPeriod.cs
Due: production

Updated after comments
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/ReadabilityResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/ReadabilityResources.resx
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1135UsingDirectivesMustBeQualified.cs
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
  documentation/SA1135.md
Due: production

Improved SA1132 code fix
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1132CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1132UnitTests.cs
Due: production, test

Code style cleanup
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1135UsingDirectivesMustBeQualified.cs
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
  documentation/SA1135.md
Due: production

Cache the delegate for SA1503BracesMustNotBeOmitted.HandleIfStatement
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1503BracesMustNotBeOmitted.cs
Due: production

Update SA1503 to consider the allowConsecutiveUsings option
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1503UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1503BracesMustNotBeOmitted.cs
Due: production, test

Add a test for static members in SA1101
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1101UnitTests.cs
Due: test

Update opencover-report.ps1 to work with latest project layout
  build/opencover-report.ps1
Due: none

Update to OpenCover 4.6.519
  .nuget/packages.config
  appveyor.yml
Due: none

Update AppVeyor build to use opencover-report.ps1
  appveyor.yml
  build/opencover-report.ps1
Due: none

Create portable PDBs during the build
  .gitignore
  .nuget/packages.config
  NuGet.config
  StyleCop.Analyzers/Directory.Build.props
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  build/opencover-report.ps1
Due: test

support .stylecop.json configuration file name
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/Settings/SettingsFileCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Helpers/DiagnosticVerifier.Helper.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Settings/SettingsFileCodeFixProviderUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Settings/SettingsUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/SettingsHelper.cs
Due: production, test

Proof of concept for alternative naming
  StyleCop.Analyzers/.stylecop.json
  StyleCop.Analyzers/Directory.Build.props
Due: none

Path conditions:
  production: any of: StyleCop.Analyzers/StyleCop.Analyzers/, StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test: any of: StyleCop.Analyzers/StyleCop.Analyzers.Test/, StyleCop.Analyzers/StyleCopTester/
