Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Implement a custom Fix All provider for SA1511
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/LayoutRules/SA1511CodeFixProvider.cs
Due: production

Implement a custom Fix All provider for SA1510
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/LayoutRules/SA1510CodeFixProvider.cs
Due: production

Implement a custom Fix All provider for SA1509
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/LayoutRules/SA1509CodeFixProvider.cs
Due: production

Implement a custom Fix All provider for SA1506
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/LayoutRules/SA1506CodeFixProvider.cs
Due: production

added dutch document culture
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.nl-NL.resx
  documentation/Configuration.md
Due: production

Property standard text for ru-RU culture now use `Возвращает` instead of `Получает`.
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.ru-RU.resx
Due: production

Handle new() syntax on SA1118
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1118CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1118ParameterMustNotSpanMultipleLines.cs
Due: production

Use ResxSourceGenerator for resource generation
  StyleCop.Analyzers/Directory.Build.props
  StyleCop.Analyzers/Directory.Build.targets
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/HelpersResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/LayoutResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/StyleCop.Analyzers.DocumentationRules.DocumentationResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/StyleCop.Analyzers.Helpers.HelpersResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/StyleCop.Analyzers.LayoutRules.LayoutResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/StyleCop.Analyzers.MaintainabilityRules.MaintainabilityResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/StyleCop.Analyzers.NamingRules.NamingResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/StyleCop.Analyzers.OrderingRules.OrderingResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/StyleCop.Analyzers.ReadabilityRules.ReadabilityResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/StyleCop.Analyzers.Settings.SettingsResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/StyleCop.Analyzers.SpacingRules.SpacingResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/StyleCop.Analyzers.SpecialRules.SpecialResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/MaintainabilityResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/NamingResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/OrderingResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/ReadabilityResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/SettingsResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SpacingResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpecialRules/SpecialResources.Designer.cs
Due: production

Update to Microsoft.CodeAnalysis.Testing 1.0.1-beta1.21202.2
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopCodeFixVerifier`2.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopDiagnosticVerifier`1.cs
Due: test

Set TLS defaults for testing
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopCodeFixVerifier`2.cs
Due: test

Remove resx generated files from source control
  .gitignore
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/StyleCop.Analyzers.DocumentationRules.DocumentationResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/StyleCop.Analyzers.Helpers.HelpersResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/StyleCop.Analyzers.LayoutRules.LayoutResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/StyleCop.Analyzers.MaintainabilityRules.MaintainabilityResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/StyleCop.Analyzers.NamingRules.NamingResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/StyleCop.Analyzers.OrderingRules.OrderingResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/StyleCop.Analyzers.ReadabilityRules.ReadabilityResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/StyleCop.Analyzers.Settings.SettingsResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/StyleCop.Analyzers.SpacingRules.SpacingResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/StyleCop.Analyzers.SpecialRules.SpecialResources.Designer.cs
Due: production

Simplify testing and cover code fixes
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1500/SA1500UnitTests.DoWhiles.cs
Due: test

Simplify syntax checks by using Parent instead of GetPreviousToken
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1500BracesForMultiLineStatementsMustNotShareLine.cs
Due: production

Clarify documentation
  documentation/Configuration.md
Due: none

Added SyntaxKinds related to Patterns and InitOnlySetters
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxKindEx.cs
Due: production

Update to Microsoft.CodeAnalysis.Testing 1.1.0-beta1.21329.1
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Update System.Collections.Immutable in the status generator
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/StyleCop.Analyzers.Status.Generator.csproj
Due: none

Add tests showing discrepancy for <see> element from <a> and <seealso>
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1629UnitTests.cs
Due: test

Fix inconsistency that forced full-sentence links to have a glowing white period
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1629DocumentationTextMustEndWithAPeriod.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/XmlCommentHelper.cs
Due: production

Update SA1119 to support C# Ranges (fix #3370)
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/MaintainabilityRules/SA1119CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1119StatementMustNotUseUnnecessaryParenthesis.cs
Due: production

Fix ignored Namespace attribute in OperationLightupGenerator
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/OperationLightupGenerator.cs
Due: none

Update generated files
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.OperationLightupGenerator/ICaughtExceptionOperationWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.OperationLightupGenerator/IFlowAnonymousFunctionOperationWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.OperationLightupGenerator/IFlowCaptureOperationWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.OperationLightupGenerator/IFlowCaptureReferenceOperationWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.OperationLightupGenerator/IIsNullOperationWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.OperationLightupGenerator/IStaticLocalInitializationSemaphoreOperationWrapper.g.cs
Due: production

Update SA1600 to show inheritance example.
  documentation/SA1600.md
Due: none

Apply suggestions from code review
  documentation/SA1600.md
Due: none

Update SA1201.md ordered lists
  documentation/SA1201.md
Due: none

Update packages to avoid build errors
  StyleCop.Analyzers/Directory.Build.props
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/DocumentationRules/SA1600CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/GenericAnalyzerTest.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Vsix/StyleCop.Analyzers.Vsix.csproj
Due: test

Support C# 10 'record struct'
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/LayoutRules/SA1502CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/MaintainabilityRules/SA1400CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/SA1205CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/NamingRules/SA1313CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1618UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1619UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1625UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Helpers/CommonMemberData.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1205UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/NamedTypeHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/SyntaxKinds.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/BaseExpressionColonSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/BaseNamespaceDeclarationSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/ExpressionColonSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/FileScopedNamespaceDeclarationSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/LineDirectivePositionSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/LineOrSpanDirectiveTriviaSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/LineSpanDirectiveTriviaSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/RecordDeclarationSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/SubpatternSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/SyntaxWrapperHelper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LanguageVersionEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LightupHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/Syntax.xml
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxKindEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1300ElementMustBeginWithUpperCaseLetter.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1313ParameterNamesMustBeginWithLowerCaseLetter.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1201ElementsMustAppearInTheCorrectOrder.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1137ElementsShouldHaveTheSameIndentation.cs
Due: production, test

Use reference assemblies for index and range
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1008CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1009CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/SpecialTypeDefinitions.cs
Due: test

Issue #3369: Updated SA1116 to also handle target-typed new
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1116CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1116SplitParametersMustStartOnLineAfterDeclaration.cs
Due: production

Issue #3369: Updated SA1117 to also handle target-typed new
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1117CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1117ParametersMustBeOnSameLineOrSeparateLines.cs
Due: production

Issue #3386: Updated SA1008 to correctly handle a cast inside a range expression
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1008CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1008OpeningParenthesisMustBeSpacedCorrectly.cs
Due: production

Issue #3386: Updated SA1003 to correctly handle a cast inside a range expression
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1003CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1003SymbolsMustBeSpacedCorrectly.cs
Due: production

Issue #3402: Removed creation of CultureInfo with arbitrary names, to make analyzers work also in globalization invariant mode
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/SA1642SA1643CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/PropertySummaryDocumentationAnalyzer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1625ElementDocumentationMustNotBeCopiedAndPasted.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1642ConstructorSummaryDocumentationMustBeginWithStandardText.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1643DestructorSummaryDocumentationMustBeginWithStandardText.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/ResourceManagerHelper.cs
Due: production

Allow object initializers and switch expressions in throw statements
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/LayoutRules/SA1513CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1513ClosingBraceMustBeFollowedByBlankLine.cs
Due: production

Update to Roslyn 4, .NET SDK 6.0.100
  StyleCop.Analyzers/Directory.Build.props
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/OperationLightupGenerator.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/SyntaxLightupGenerator.cs
  StyleCopAnalyzers.sln
  global.json
Due: none

Update SA1135 to support file-scoped namespaces
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SA1135CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1135UsingDirectivesMustBeQualified.cs
Due: production

Improve lightup support for BaseNamespaceDeclarationSyntax
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/SyntaxLightupGenerator.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/SyntaxWrapperHelperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/SyntaxWrapperHelper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/BaseNamespaceDeclarationSyntaxWrapper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxKindEx.cs
Due: production, test

Increase test coverage for records in SA1500, SA1502, and SA1508
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/LayoutRules/SA1500CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/LayoutRules/SA1502CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/LayoutRules/SA1508CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Helpers/CommonMemberData.cs
Due: test

Add 'allowDoWhileOnClosingBrace' configuration to the JSON schema
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/stylecop.schema.json
Due: production

Path conditions:
  production: any of: StyleCop.Analyzers/StyleCop.Analyzers/, StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test: any of: StyleCop.Analyzers/StyleCop.Analyzers.Test/, StyleCop.Analyzers/StyleCopTester/
