Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

flags:
  production:
    paths:
      - StyleCop.Analyzers/StyleCop.Analyzers/
      - StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test:
    paths:
      - StyleCop.Analyzers/StyleCop.Analyzers.Test/
      - StyleCop.Analyzers/StyleCopTester/

Update xunit to 2.4.1
  .nuget/packages.config
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/StyleCop.Analyzers.Test.CSharp8.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  build/opencover-report.ps1
Due: test

Use Visual Studio 2019 for builds
  appveyor.yml
Due: none

Use Windows PDBs for debug builds
  .nuget/packages.config
  NuGet.config
  StyleCop.Analyzers/Directory.Build.props
  build/opencover-report.ps1
Due: none

Use -register:Path32 on AppVeyor
  build/opencover-report.ps1
Due: none

Update to OpenCover 4.7.945-rc
  .nuget/packages.config
  NuGet.config
Due: none

Update to OpenCover 4.7.922
  .nuget/packages.config
Due: none

Let OpenCover use the portable PDBs
  StyleCop.Analyzers/Directory.Build.props
Due: none

Fix spacing after closing brace in patterns
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1013CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1024CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1013ClosingBracesMustBeSpacedCorrectly.cs
Due: production

Do not report SA1141 for single-element tuples
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/ReadabilityRules/SA1141CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1141UseTupleSyntax.cs
Due: production

Automatically apply StateInheritanceMode
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/InheritdocCodeFixProviderUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1609UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1610UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1616UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1617UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1629UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1642UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1643UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1651UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/FileMayOnlyContainTestBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/UsingCodeFixProviderUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Settings/SettingsFileCodeFixProviderUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/NumberSignSpacingTestBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopCodeFixVerifier`2.cs
Due: test

Use PublicApiAnalyzer instead of a (broken) unit test
  StyleCop.Analyzers/Directory.Build.props
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/PropertySummaryDocumentationCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/PublicAPI.Shipped.txt
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/PublicAPI.Unshipped.txt
  StyleCop.Analyzers/StyleCop.Analyzers.Test/PublicApiTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/PublicAPI.Shipped.txt
  StyleCop.Analyzers/StyleCop.Analyzers/PublicAPI.Unshipped.txt
Due: production, test

Use EmptyDiagnosticAnalyzer from test library
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/DebugMessagesUnitTestsBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/FileMayOnlyContainTestBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/NumberSignSpacingTestBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/EmptyAnalyzer.cs
Due: test

Remove unused test helpers
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Helpers/TestDiagnosticProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Helpers/TestXmlReferenceResolver.cs
Due: test

Improve test coverage for shared pools
  StyleCop.Analyzers/StyleCop.Analyzers.Test/HelperTests/ObjectPools/SharedPoolsTests.cs
Due: test

Simplify string join operation
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/DebugMessagesUnitTestsBase.cs
Due: test

issue #3067 is not reproduced
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/LayoutRules/SA1514CSharp8UnitTests.cs
Due: none

Initial Azure Pipelines build configuration
  .editorconfig
  azure-pipelines.yml
Due: none

Move 'parameters' to a child of 'jobs'
  azure-pipelines.yml
Due: none

Use a 'BuildSolution' variable instead of 'Parameters.solution'
  azure-pipelines.yml
Due: none

Rename job to avoid invalid name error
  azure-pipelines.yml
Due: none

Set vmImage
  azure-pipelines.yml
Due: none

Remove task NuGetToolInstaller
  azure-pipelines.yml
Due: none

Update to NuGet 5.3.1 and configure feeds
  azure-pipelines.yml
Due: none

Avoid specifying the full nugetConfigPath
  azure-pipelines.yml
Due: none

Specify all NuGet package sources
  NuGet.config
Due: none

Set the build platform to 'Any CPU' instead of 'AnyCPU'
  azure-pipelines.yml
Due: none

Run tests
  azure-pipelines.yml
Due: none

Pass inputs as inputs
  azure-pipelines.yml
Due: none

Set filePath and workingDirectory
  azure-pipelines.yml
Due: none

Set filePath relative to checkout directory
  azure-pipelines.yml
Due: none

Publish build logs and use the VSTS test reporter
  azure-pipelines.yml
  build/opencover-report.ps1
Due: none

Fix test results publishing
  azure-pipelines.yml
  build/opencover-report.ps1
Due: none

Upload coverage report to codecov.io
  .nuget/packages.config
  azure-pipelines.yml
Due: none

Remove testing from AppVeyor builds
  appveyor.yml
Due: none

SA1307 check verbatim identifiers
  StyleCop.Analyzers/StyleCop.Analyzers.Test/NamingRules/SA1307UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1307AccessibleFieldsMustBeginWithUpperCaseLetter.cs
Due: production, test

Explicitly set 'targetType' to inline for PowerShell task
  azure-pipelines.yml
Due: none

Set the full path to the MSBuild binlog
  azure-pipelines.yml
Due: none

Merge test results by build configuration
  azure-pipelines.yml
Due: none

Require the codecov upload to succeed unless skipped
  azure-pipelines.yml
Due: none
