Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

flags:
  production:
    paths:
      - StyleCop.Analyzers/StyleCop.Analyzers/
      - StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test:
    paths:
      - StyleCop.Analyzers/StyleCop.Analyzers.Test/
      - StyleCop.Analyzers/StyleCopTester/

Add SA1019 test for extended property patterns
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/SpacingRules/SA1019CSharp10UnitTests.cs
Due: none

Update the SA1130 code fix to keep parameter types when there is no target delegate type
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1130CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SA1101CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SA1130CSharp10UnitTests.cs
Due: production

Fix SA1130 for anonymous methods passed for non-delegate or generic parameters
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1130CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SA1130CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1130UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1130UseLambdaSyntax.cs
Due: production, test

Allow a closing brace followed by the end of an interpolation in SA1500
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/LayoutRules/SA1500CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1500/SA1500UnitTests.Interpolations.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1500BracesForMultiLineStatementsMustNotShareLine.cs
Due: production, test

Update SA1000 to handle the c# 11's scoped keyword and add tests for some other rules
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/NamingRules/SA1305CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/NamingRules/SA1312CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/NamingRules/SA1313CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/ReadabilityRules/SA1121CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/SpacingRules/SA1000CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/SpacingRules/SA1001CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/SpacingRules/SA1008CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1000CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxKindEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1000KeywordsMustBeSpacedCorrectly.cs
  documentation/SA1000.md
Due: production

Add C# 11 SA1101 test for extended nameof scope
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/ReadabilityRules/SA1101CSharp11UnitTests.cs
Due: none

Add C# 11 raw string literal tests
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/SpacingRules/SA1012CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/SpacingRules/SA1013CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/SpacingRules/SA1028CSharp11UnitTests.cs
Due: none

Add C# 11 SA1000 test for 'is' before a list pattern
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/SpacingRules/SA1000CSharp11UnitTests.cs
Due: none

Add C# 11 SA1401 test for required fields
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/MaintainabilityRules/SA1401CSharp11UnitTests.cs
Due: none

Add C# 11 SA1122 tests for UTF-8 literals and span patterns
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/ReadabilityRules/SA1122CSharp11UnitTests.cs
Due: none

Add C# 11 static abstract interface member test for SA1400
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/MaintainabilityRules/SA1400CSharp11UnitTests.cs
Due: none

Add C# 11 generic attribute tests
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/MaintainabilityRules/SA1411CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/ReadabilityRules/SA1121CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/SpacingRules/SA1014CSharp11UnitTests.cs
Due: none

Updated SA1137 to also check collection expressions
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/ReadabilityRules/SA1137CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1137ElementsShouldHaveTheSameIndentation.cs
Due: production

Test SA1137 with spread and nested collection expression elements
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/ReadabilityRules/SA1137CSharp12UnitTests.cs
Due: none

Update SA1413UseTrailingCommasInMultiLineInitializers to also analyze collection expressions
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/MaintainabilityRules/SA1413CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1413UseTrailingCommasInMultiLineInitializers.cs
Due: production

Document SA1413 for collection expressions and test spread and nested elements
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/MaintainabilityRules/SA1413CSharp12UnitTests.cs
  documentation/SA1413.md
Due: none

Update SA1112-SA1117 to handle primary constructor parameter lists
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/ReadabilityRules/SA1112CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/ReadabilityRules/SA1113CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/ReadabilityRules/SA1114CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/ReadabilityRules/SA1115CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/ReadabilityRules/SA1116CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/ReadabilityRules/SA1117CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1112CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1113CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1114CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1115CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1116CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1117CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1112ClosingParenthesisMustBeOnLineOfOpeningParenthesis.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1113CommaMustBeOnSameLineAsPreviousParameter.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1114ParameterListMustFollowDeclaration.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1115ParameterMustFollowComma.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1116SplitParametersMustStartOnLineAfterDeclaration.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1117ParametersMustBeOnSameLineOrSeparateLines.cs
Due: production

Update SA1112-SA1117 to handle primary constructor base type argument lists
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/ReadabilityRules/SA1112CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/ReadabilityRules/SA1113CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/ReadabilityRules/SA1114CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/ReadabilityRules/SA1115CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/ReadabilityRules/SA1116CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/ReadabilityRules/SA1117CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1112CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1113CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1114CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1115CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1116CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1117CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1112ClosingParenthesisMustBeOnLineOfOpeningParenthesis.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1113CommaMustBeOnSameLineAsPreviousParameter.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1114ParameterListMustFollowDeclaration.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1115ParameterMustFollowComma.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1116SplitParametersMustStartOnLineAfterDeclaration.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1117ParametersMustBeOnSameLineOrSeparateLines.cs
Due: production

Fix SA1023 false positive for a pointer type at the end of a using alias
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/SpacingRules/SA1023CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1023DereferenceAndAccessOfSymbolsMustBeSpacedCorrectly.cs
Due: production

Add C# 12 primary constructor tests for SA1101 and SA1313
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/NamingRules/SA1313CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/ReadabilityRules/SA1101CSharp12UnitTests.cs
Due: none

Add C# 12 collection expression spacing tests for SA1011 and SA1001
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/SpacingRules/SA1001CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/SpacingRules/SA1011CSharp12UnitTests.cs
Due: none

Add C# 12 SA1003 test for lambda parameter default values
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/SpacingRules/SA1003CSharp12UnitTests.cs
Due: none

Add C# 12 SA1316 test for tuple types in using aliases
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/NamingRules/SA1316CSharp12UnitTests.cs
Due: none

Update SA1206 to handle records
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/DeclarationModifiersHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1206DeclarationKeywordsMustFollowOrder.cs
Due: production

Update SA1203 to handle records and interfaces
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1203ConstantsMustAppearBeforeFields.cs
Due: production

Update SA1200 to also handle records
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1200UsingDirectivesMustBePlacedCorrectly.cs
Due: production

Update SA1648 to handle records
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1648InheritDocMustBeUsedWithInheritingClass.cs
Due: production

Update SA1207 to handle constructors, enums and records
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1207ProtectedMustComeBeforeInternal.cs
Due: production

Update SA1601 to handle records
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1601PartialElementsMustBeDocumented.cs
Due: production

Update GenericTypeParameterDocumentationAnalyzer to handle records
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/GenericTypeParameterDocumentationAnalyzer.cs
Due: production

Update SA1506 to handle records
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1506ElementDocumentationHeadersMustNotBeFollowedByBlankLine.cs
Due: production

Update SA1514 to handle records
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1514ElementDocumentationHeaderMustBePrecededByBlankLine.cs
Due: production

Add tests for record handling in ordering, layout and documentation rules
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/DocumentationRules/SA1601CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/DocumentationRules/SA1620CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/DocumentationRules/SA1621CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/DocumentationRules/SA1622CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/DocumentationRules/SA1648CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/LayoutRules/SA1506CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/LayoutRules/SA1514CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/OrderingRules/SA1200CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/OrderingRules/SA1203CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/OrderingRules/SA1206CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/OrderingRules/SA1207CSharp9UnitTests.cs
Due: none

Add \e escape sequence test for SA1027
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1027UnitTests.cs
Due: test

Add tests for implicit index in initializers
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/LayoutRules/SA1500CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/SpacingRules/SA1010CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/SpacingRules/SA1011CSharp13UnitTests.cs
Due: none

Add regression tests for params collections
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/DocumentationRules/SA1611CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/DocumentationRules/SA1615CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/DocumentationRules/SA1617CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/ReadabilityRules/SA1116CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/ReadabilityRules/SA1117CSharp13UnitTests.cs
Due: none

Add tests for ref struct implementing interfaces
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/DocumentationRules/SA1600CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/OrderingRules/SA1201CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/OrderingRules/SA1202CSharp13UnitTests.cs
Due: none

Add .NET 9 reference assemblies for C# 13 tests that need by-ref-like generics
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/Helpers/RuntimeReferenceAssemblies.cs
Due: none

Add tests for 'allows ref struct' constraint
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/ReadabilityRules/SA1127CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/SpacingRules/SA1000CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/SpacingRules/SA1001CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/SpacingRules/SA1024CSharp13UnitTests.cs
Due: none

Update SA1130 to handle params collections
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1130UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1130UseLambdaSyntax.cs
Due: production, test
