Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

build(coverage): add diff-focused coverage option
  build/coverage-report.ps1
Due: none

docs: add coverage workflow guidance
  CONTRIBUTING.md
Due: none

chore(deps): drop opencover package
  .nuget/packages.config
Due: none

chore(deps): remove coverlet.console dependency
  .nuget/packages.config
Due: none

chore(coverage): include tests and enable single-hit
  build/coverlet.runsettings
Due: none

chore(gitignore): ignore coverage artifacts
  .gitignore
Due: none

Update SA1200 tests for global using directives
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/SA1200CSharp10UnitTests.cs
Due: none

Update SA1208 tests for global using directives
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/SA1208CSharp10UnitTests.cs
Due: none

Update SA1209 tests for global using directives
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/SA1209CSharp10UnitTests.cs
Due: none

Update SA1216 tests for global using directives
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/SA1216CSharp10UnitTests.cs
Due: none

Update SA1217 tests for global using directives
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/SA1217CSharp10UnitTests.cs
Due: none

Update SA1516 tests and documentation for global using directives
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/LayoutRules/SA1516UsingGroupsCSharp10UnitTests.cs
  documentation/SA1516.md
Due: none

Update SA1101 tests for extended property patterns
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SA1101CSharp10UnitTests.cs
  documentation/SA1101.md
Due: none

Update SA1024 for extended property patterns
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/SpacingRules/SA1024CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxKindEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1024ColonsMustBeSpacedCorrectly.cs
  documentation/SA1024.md
Due: production

Update SA1008 tests for lambda natural types
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/SpacingRules/SA1008CSharp10UnitTests.cs
Due: none

Update SA1141 for lambda natural types
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1141CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SA1141CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ParenthesizedLambdaExpressionSyntaxExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1141UseTupleSyntax.cs
Due: production

Update SA1121 tests for lambda natural types
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SA1121CSharp10UnitTests.cs
Due: none

Update SA1009 for lambda natural types
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/SpacingRules/SA1009CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1009ClosingParenthesisMustBeSpacedCorrectly.cs
Due: production

Update SA1125 tests for lambda natural types
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SA1125CSharp10UnitTests.cs
Due: none

Update SA1300 tests for record structs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/NamingRules/SA1300CSharp10UnitTests.cs
Due: none

Fix SA1649 for union declarations
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/Properties/AssemblyInfo.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/DocumentationRules/SA1649CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/Properties/AssemblyInfo.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/StyleCop.Analyzers.Test.CSharp15.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Properties/AssemblyInfo.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/GenericAnalyzerTest.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/NamedTypeHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Properties/AssemblyInfo.cs
  StyleCopAnalyzers.sln
  build/build-and-test.yml
  build/test.yml
Due: production, test

Bring in GitHub Actions workflow from #3956
  .github/workflows/build.yml
Due: none

Extend GitHub Actions workflow to full build, test matrix, and artifacts
  .github/workflows/build.yml
Due: none

ci: replace OpenCover with coverlet.console for Azure test jobs
  .nuget/packages.config
  build/test.yml
Due: none

Make rule status report best-effort
  .github/workflows/build.yml
Due: none

Only upload code coverage from passing test jobs
  .github/workflows/build.yml
Due: none

Switch GitHub Actions test jobs from OpenCover to coverlet.console
  .github/workflows/build.yml
Due: none

Restore coverlet.console via .nuget/packages.config (same as #4104)
  .github/workflows/build.yml
  .nuget/packages.config
Due: none

Retire AppVeyor and Azure Pipelines config in favor of GitHub Actions
  StyleCopAnalyzers.sln
  appveyor.yml
  azure-pipelines.yml
  build/build-and-test.yml
  build/test.yml
Due: none

Report empty documentation text when inheritdoc has nothing to inherit
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1607UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1610UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1614UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1616UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/ElementDocumentationBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/PartialElementDocumentationSummaryBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/PropertyDocumentationBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1648InheritDocMustBeUsedWithInheritingClass.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/XmlCommentHelper.cs
Due: production, test

Expand aliases in alias targets when using directives move into a namespace
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/UsingCodeFixProvider.UsingsSorter.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/UsingCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1200UnitTests.cs
Due: production, test

Turn a stray comment inside documentation into a documentation line in the SA1626 code fix
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/SA1626CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1626UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.resx
  documentation/SA1626.md
Due: production, test

Use the right article in SA1201 messages
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/SA1201CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/OrderingRules/SA1201CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1201UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/OrderingResources.resx
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1201ElementsMustAppearInTheCorrectOrder.cs
  documentation/SA1201.md
Due: production, test

Describe all constructs SA1413 reports in its message
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/MaintainabilityResources.resx
  documentation/SA1413.md
Due: production

Require a blank line after a closing brace inside a lambda passed as an argument in SA1513
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1513UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1513ClosingBraceMustBeFollowedByBlankLine.cs
Due: production, test

Indent the whole first argument when SA1116 moves it to its own line
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1116CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1116UnitTests.cs
Due: production, test

Complete the default rule set
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/rulesets/StyleCopAnalyzersDefault.ruleset
Due: production

Indent the whole statement when the SA1503, SA1519 and SA1520 code fix adds braces
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/Helpers/IndentationHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/LayoutRules/SA1503CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1116CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1503UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1519UnitTests.cs
Due: production, test

Move CI to GitHub Actions; retire AppVeyor and Azure Pipelines config (#4105)
  .github/workflows/build.yml
  .nuget/packages.config
  StyleCopAnalyzers.sln
  appveyor.yml
  azure-pipelines.yml
  build/build-and-test.yml
  build/test.yml
Due: none

Align the C# 14 test project with C# 13
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/StyleCop.Analyzers.Test.CSharp14.csproj
Due: none

Path conditions:
  production: any of: StyleCop.Analyzers/StyleCop.Analyzers/, StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test: any of: StyleCop.Analyzers/StyleCop.Analyzers.Test/, StyleCop.Analyzers/StyleCopTester/
