Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Improve coverage for SA1131 by updating tests so they pass for the right reason
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1131UnitTests.cs
Due: test

Redesign SA1010's handling of preceding whitespace to explicitly state expected style in all known cases and ignore all unknown cases. #3687
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1010OpeningSquareBracketsMustBeSpacedCorrectly.cs
Due: production

Apply suggestions from code review
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1600ElementsMustBeDocumented.cs
  documentation/SA1600.md
Due: production

Update SA1119 to allow a parenthesized switch expressions followed by an invocation #3730
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/MaintainabilityRules/SA1119CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1119StatementMustNotUseUnnecessaryParenthesis.cs
Due: production

Update tests that fail for c# 12
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/ReadabilityRules/SA1130CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/SpacingRules/SA1015CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/SpacingRules/SA1018CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1130UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1015UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1018UnitTests.cs
Due: test

Update SA1119 to allow parenthesis around a ref ternary conditional expression when it is the left-hand side of an assigment #3712
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/MaintainabilityRules/SA1119CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1119StatementMustNotUseUnnecessaryParenthesis.cs
Due: production

Update after code review
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/ReadabilityRules/SA1130CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1130UnitTests.cs
Due: test

Add a test for ArgumentException (type from a different assembly)
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1648UnitTests.cs
Due: test

Test records as well
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1648UnitTests.cs
Due: test

Struct case
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1648UnitTests.cs
Due: test

Revert "Struct case"
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1648UnitTests.cs
Due: test

Increase test timeout to 80 minutes
  azure-pipelines.yml
Due: none

Update SA1010 to accept whitespace before collection initializers #3687
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/SpacingRules/SA1010CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxKindEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1010OpeningSquareBracketsMustBeSpacedCorrectly.cs
Due: production

Update SA1513 to not require a blank line if the closing brace is at the end of a collection expression #3720
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/LayoutRules/SA1513CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1513ClosingBraceMustBeFollowedByBlankLine.cs
Due: production

Run tests in parallel jobs
  .nuget/packages.config
  azure-pipelines.yml
  build/build-and-test.yml
  build/test.yml
Due: none

Update SA1118 to allow multi-line collection expressions #3732
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/ReadabilityRules/SA1118CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxKindEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1118ParameterMustNotSpanMultipleLines.cs
Due: production

Update SA1600 to not require documentation for explicitly implemented members #3717
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1600UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1600ElementsMustBeDocumented.cs
Due: production, test

Simplify
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1648InheritDocMustBeUsedWithInheritingClass.cs
Due: production

Simplify?
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1648InheritDocMustBeUsedWithInheritingClass.cs
Due: production

more tests
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1648UnitTests.cs
Due: test

Update SA1008 to require a space before the opening parenthesis of a using alias definition of a tuple type #3743
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/SpacingRules/SA1008CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1008OpeningParenthesisMustBeSpacedCorrectly.cs
Due: production

Update SA1009 to require a space after the closing parenthesis if it is followed by ++ or -- from a prefix unary expression #3731
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1009UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1009ClosingParenthesisMustBeSpacedCorrectly.cs
Due: production, test

Update documentation for SA1102 to contain compilable code examples #3754
  documentation/SA1102.md
Due: none

Change default value of test property CodeActionValidationMode to SemanticStructure instead of None and update so that tests still pass #2785
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1129CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1131CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1129UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopCodeFixVerifier`2.cs
Due: production, test

Update SA1008 to not crash if there is no token before the analyzed opening parenthesis #2354
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/SpacingRules/SA1008CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1008UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1008OpeningParenthesisMustBeSpacedCorrectly.cs
Due: production, test

Feedback
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1648UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1648InheritDocMustBeUsedWithInheritingClass.cs
Due: production, test

Fix review comments
  StyleCop.Analyzers/StyleCop.Analyzers.Test/NamingRules/SA1304UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/NamingRules/SA1305UnitTests.cs
Due: test

Generalize tests for SA1600 concerning partial types
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1600UnitTests.cs
Due: test

Fix SA1131 to not treat "complex" expressions as a literal #3759
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1131UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1131UseReadableConditions.cs
Due: production, test

Fix review comments #3759
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1131UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1131UseReadableConditions.cs
Due: production, test

Update to StyleCop.Analyzers 1.2.0-beta.556
  StyleCop.Analyzers/Directory.Build.props
Due: none

Set version numbers in CI
  StyleCop.Analyzers/version.json
Due: none

Fix csharp_using_directive_placement setting retrieval
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/AnalyzerConfigHelper.cs
Due: production

Add unit test.
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/Settings/SettingsCSharp8UnitTests.cs
Due: none

Convert test to theory
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/Settings/SettingsCSharp8UnitTests.cs
Due: none

Remove VSIX project and unnecessary build outputs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/StyleCop.Analyzers.CodeFixes.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Vsix/Properties/launchSettings.json
  StyleCop.Analyzers/StyleCop.Analyzers.Vsix/StyleCop.Analyzers.Vsix.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Vsix/source.extension.vsixmanifest
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
  StyleCopAnalyzers.sln
Due: production

Rename attribute to avoid conflict
  StyleCop.Analyzers/StyleCop.Analyzers/AnalyzerConstants.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1603DocumentationMustContainValidXml.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1628DocumentationTextMustBeginWithACapitalLetter.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1630DocumentationTextMustContainWhitespace.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1631DocumentationMustMeetCharacterPercentage.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1632DocumentationTextMustMeetMinimumCharacterLength.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1645IncludedDocumentationFileDoesNotExist.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1646IncludedDocumentationXPathDoesNotExist.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1647IncludeNodeDoesNotContainValidFileAndPath.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1650ElementDocumentationMustBeSpelledCorrectly.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ExcludeFromCodeCoverageInternalAttribute.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/JsonArray.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/JsonObject.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/JsonValue.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1409RemoveUnnecessaryCode.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1301ElementMustBeginWithLowerCaseLetter.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1109BlockStatementsMustNotContainEmbeddedRegions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1126PrefixCallsCorrectly.cs
Due: production

Remove unnecessary property AnalyzerConstants.DisabledNoTests
  StyleCop.Analyzers/StyleCop.Analyzers/AnalyzerConstants.cs
Due: production

Path conditions:
  production: any of: StyleCop.Analyzers/StyleCop.Analyzers/, StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test: any of: StyleCop.Analyzers/StyleCop.Analyzers.Test/, StyleCop.Analyzers/StyleCopTester/
