Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Retarget C# 6/7 tests to net472 and update Microsoft.CodeAnalysis.Testing to 1.1.4
  .github/workflows/build.yml
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/AnalyzerConfigurationUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/CustomDiagnosticVerifier`1.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/DiagnosticVerifierTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/EmptyWithMessageException.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/EqualWithMessageException.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/GenericAnalyzerTest.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/NotEmptyWithMessageException.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopCodeFixVerifier`2.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopDiagnosticVerifier`1.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/XUnitVerifier.cs
Due: test

Remove obsolete NuGet.Frameworks 6.3.4 pin from the C# 8 tests
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/StyleCop.Analyzers.Test.CSharp8.csproj
Due: none

Reference NuGet.Resolver directly on net472 so binding redirects cover NuGet's dependencies
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Test C# 15 with a Roslyn 5.10 preview that fixes duplicate union callbacks
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/StyleCop.Analyzers.Test.CSharp15.csproj
Due: none

Support C# 15 union declarations in documentation, naming, access and ordering rules
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/MaintainabilityRules/SA1400CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/DocumentationRules/SA1600CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/DocumentationRules/SA1601CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/DocumentationRules/SA1615CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/MaintainabilityRules/SA1400CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/MaintainabilityRules/SA1407CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/NamingRules/SA1300CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/OrderingRules/SA1201CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/OrderingRules/SA1202CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/OrderingRules/SA1203CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/OrderingRules/SA1204CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/OrderingRules/SA1206CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/ReadabilityRules/SA1101CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/ReadabilityRules/SA1121CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/SpacingRules/SA1003CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1600ElementsMustBeDocumented.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1601PartialElementsMustBeDocumented.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/DeclarationModifiersHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1400AccessModifierMustBeDeclared.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1300ElementMustBeginWithUpperCaseLetter.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1201ElementsMustAppearInTheCorrectOrder.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1202ElementsMustBeOrderedByAccess.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1203ConstantsMustAppearBeforeFields.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1204StaticElementsMustAppearBeforeInstanceElements.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1206DeclarationKeywordsMustFollowOrder.cs
Due: production

Use the testing library's framework-neutral DefaultVerifier
  StyleCop.Analyzers/StyleCop.Analyzers.Test/AnalyzerConfigurationUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/CustomDiagnosticVerifier`1.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/DiagnosticVerifierTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/EmptyWithMessageException.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/EqualWithMessageException.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/NotEmptyWithMessageException.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopCodeFixVerifier`2.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopDiagnosticVerifier`1.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/XUnitVerifier.cs
Due: test

Default the C# 15 test project to the preview language version
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/DocumentationRules/SA1600CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/DocumentationRules/SA1601CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/DocumentationRules/SA1615CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/DocumentationRules/SA1649CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/MaintainabilityRules/SA1400CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/MaintainabilityRules/SA1402ForStructCSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/MaintainabilityRules/SA1407CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/NamingRules/SA1300CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/OrderingRules/SA1201CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/OrderingRules/SA1202CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/OrderingRules/SA1203CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/OrderingRules/SA1204CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/OrderingRules/SA1206CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/ReadabilityRules/SA1101CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/ReadabilityRules/SA1121CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/SpacingRules/SA1003CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Helpers/TestLanguageVersion.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopCodeFixVerifier`2.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopDiagnosticVerifier`1.cs
Due: test

Treat C# 15 unions as structs in SA1642 and its code fix
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/SA1642SA1643CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/DocumentationRules/SA1642CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1642ConstructorSummaryDocumentationMustBeginWithStandardText.cs
Due: production

Use union wording for C# 15 union constructors in SA1642
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/SA1642SA1643CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/DocumentationRules/SA1642CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.cs-CZ.resx
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.de-DE.resx
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.en-GB.resx
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.es-MX.resx
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.fr-FR.resx
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.nl-NL.resx
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.pl-PL.resx
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.pt-BR.resx
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.resx
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/DocumentationResources.ru-RU.resx
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1642ConstructorSummaryDocumentationMustBeginWithStandardText.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/DocumentationResources.Designer.cs
  documentation/SA1642.md
Due: production

Apply SA1118 argument exceptions to attribute arguments
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1118UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1118ParameterMustNotSpanMultipleLines.cs
  documentation/SA1118.md
Due: production, test

Allow SA1013 interpolation closing brace to start a line
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/SpacingRules/SA1013CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1013UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1013ClosingBracesMustBeSpacedCorrectly.cs
Due: production, test

Allow SA1629 periods followed by closing quotes
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1629UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1629DocumentationTextMustEndWithAPeriod.cs
  documentation/SA1629.md
Due: production, test

Add more SA1205 file-local partial type tests and docs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1205UnitTests.cs
  documentation/SA1205.md
Due: test

Keep comments in place when fixing SA1021/SA1022 preceding space
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/NumberSignSpacingTestBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1021NegativeSignsMustBeSpacedCorrectly.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1022PositiveSignsMustBeSpacedCorrectly.cs
Due: production, test

Don't offer the SA1102 code fix when it would delete comments
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1102CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1102UnitTests.cs
Due: production, test

Don't report template engine directives in SA1005
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1005UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1005SingleLineCommentsMustBeginWithSingleSpace.cs
  documentation/SA1005.md
Due: production, test

Always check explicit tuple expression element names in SA1316
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/NamingRules/SA1316CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1316TupleElementNamesShouldUseCorrectCasing.cs
  documentation/Configuration.md
  documentation/SA1316.md
Due: production

Allow underscore-only SA1312 names where discards aren't possible
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/NamingRules/SA1312CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/NamingRules/SA1312UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1312VariableNamesMustBeginWithLowerCaseLetter.cs
  documentation/SA1312.md
Due: production, test

Add a NuGet package README
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/PackageReadme.md
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/StyleCop.Analyzers.Metadata.nuspec
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/StyleCop.Analyzers.nuspec
Due: production

Document how systemUsingDirectivesFirst affects SA1208, SA1210 and SA1217
  documentation/Configuration.md
  documentation/SA1208.md
  documentation/SA1210.md
  documentation/SA1217.md
Due: none

Implement equality for SeparatedSyntaxListWrapper
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/SeparatedSyntaxListWrapperTestBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SeparatedSyntaxListWrapper`1.cs
Due: production, test

Merge SA1206 diagnostic and code fix test classes
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/SA1206CodeFixProviderCSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/OrderingRules/SA1206CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/OrderingRules/SA1206CodeFixProviderCSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/OrderingRules/SA1206CodeFixProviderCSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/OrderingRules/SA1206CodeFixProviderCSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/OrderingRules/SA1206CodeFixProviderCSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/OrderingRules/SA1206CodeFixProviderCSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/OrderingRules/SA1206CodeFixProviderCSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/OrderingRules/SA1206CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/OrderingRules/SA1206CodeFixProviderCSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/OrderingRules/SA1206CodeFixProviderCSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1206CodeFixProviderUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1206UnitTests.cs
Due: test

Add SA1629 coverage for included docs and quote-only text
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1629UnitTests.cs
Due: test

Use VerifyCSharpFixAsync in SA1102 no-fix test
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1102UnitTests.cs
Due: test

Add an SA1312 code fix that replaces underscore-only locals with discards
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/NamingRules/SA1312CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/NamingRules/SA1312CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/NamingResources.resx
  documentation/SA1312.md
Due: production

Update generated NamingResources for the SA1312 code fix title
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/NamingResources.Designer.cs
Due: production

SA1504: ignore attributes when measuring accessor lines
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1504UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1504AllAccessorsMustBeSingleLineOrMultiLine.cs
Due: production, test

SA1413: insert trailing commas so nested initializers fix in one pass
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/MaintainabilityRules/SA1413CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1413UnitTests.cs
Due: production, test

SA1402: don't insert a blank line when extracting a type
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/MaintainabilityRules/SA1402CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1402ForClassUnitTests.cs
Due: production, test

Add agent skills for audits, bug fixes, testing, performance, triage and PRs
  .agents/skills/analyzer-performance/SKILL.md
  .agents/skills/csharp-language-version-audit/SKILL.md
  .agents/skills/csharp-language-version-audit/scripts/probe/Probe.csproj
  .agents/skills/csharp-language-version-audit/scripts/probe/Program.cs
  .agents/skills/fixing-a-bug/SKILL.md
  .agents/skills/issue-triage/SKILL.md
  .agents/skills/lightup-and-roslyn-versions/SKILL.md
  .agents/skills/pull-request-workflow/SKILL.md
  .agents/skills/testing-and-coverage/SKILL.md
Due: none

Add AGENTS.md (and CLAUDE.md) pointing agents to the skills
  AGENTS.md
  CLAUDE.md
Due: none

SA1135: allow an alias inside an otherwise qualified using
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1135UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1135UsingDirectivesMustBeQualified.cs
Due: production, test

TriviaHelper: remove a blank line above a documentation comment
  StyleCop.Analyzers/StyleCop.Analyzers.Test/HelperTests/TriviaHelperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/TriviaHelper.cs
Due: production, test

fix: address review comment on StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/MaintainabilityRules/SA1402CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/MaintainabilityRules/SA1402CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1402ForClassUnitTests.cs
Due: production, test

Add regression tests for SA1008 spacing before comments
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1008UnitTests.cs
Due: test

Publish DocFX documentation and rule status with GitHub Pages
  .github/workflows/build.yml
  .gitignore
  CONTRIBUTING.md
  README.md
  docfx.json
  docs/index.html
  documentation/SA1500.md
  documentation/index.md
  documentation/toc.yml
  dotnet-tools.json
  toc.yml
Due: none

Correct SA1304 precedence expectations and add regression tests
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/NamingRules/SA1304CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/NamingRules/SA1304UnitTests.cs
Due: test

Repair rule status generation and include report in DocFX deployment
  .github/workflows/build.yml
  .gitignore
  CONTRIBUTING.md
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/Program.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/SolutionReader.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Status.Generator/StyleCop.Analyzers.Status.Generator.csproj
  build/status-page.test.cjs
  docs/index.html
Due: none

Report undocumented record parameters in SA1600
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/DocumentationRules/SA1600CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/DocumentationRules/SA1600CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/DocumentationRules/SA1600CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1600ElementsMustBeDocumented.cs
  documentation/SA1600.md
Due: production

Path conditions:
  production: any of: StyleCop.Analyzers/StyleCop.Analyzers/, StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test: any of: StyleCop.Analyzers/StyleCop.Analyzers.Test/, StyleCop.Analyzers/StyleCopTester/
