Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

flags:
  production:
    paths:
      - StyleCop.Analyzers/StyleCop.Analyzers/
      - StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test:
    paths:
      - StyleCop.Analyzers/StyleCop.Analyzers.Test/
      - StyleCop.Analyzers/StyleCopTester/

Use literal paths in the SA1649 linked-file test
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1649UnitTests.cs
Due: test

Only rename SA1649 documents in place when the host supports it
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/SA1649CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/Lightup/WorkspaceExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/DocumentationRules/SA1649CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1649UnitTests.cs
Due: production, test

Build the private analyzers and lightup generator against Roslyn 5.0.0
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateAnalyzers/StyleCop.Analyzers.PrivateAnalyzers.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateCodeFixes/GeneratePartCodeRefactoringProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateCodeFixes/StyleCop.Analyzers.PrivateCodeFixes.csproj
Due: none

Compile with C# 14
  StyleCop.Analyzers/Directory.Build.props
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/OperationKindExCSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/LanguageVersionExUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/MethodKindExUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/SyntaxKindExUnitTests.cs
Due: test

Update Microsoft.CodeAnalysis.Analyzers to 5.9.0
  StyleCop.Analyzers/Directory.Build.props
Due: none

Update Microsoft.CodeAnalysis.CSharp.CodeStyle to 5.0.0
  StyleCop.Analyzers/Directory.Build.props
Due: none

Remove the NU1605 suppression from the C# 15 test project
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/StyleCop.Analyzers.Test.CSharp15.csproj
Due: none

Restore direct property calls for override fields in syntax wrappers
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/SyntaxLightupGenerator.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/Lightup/FileScopedNamespaceDeclarationSyntaxWrapperCSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/Lightup/NullableDirectiveTriviaSyntaxWrapperCSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/Lightup/RecordDeclarationSyntaxWrapperCSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/Lightup/FileScopedNamespaceDeclarationSyntaxWrapperCSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/Lightup/NullableDirectiveTriviaSyntaxWrapperCSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/Lightup/RecordDeclarationSyntaxWrapperCSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/Lightup/FileScopedNamespaceDeclarationSyntaxWrapperCSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/Lightup/NullableDirectiveTriviaSyntaxWrapperCSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/Lightup/RecordDeclarationSyntaxWrapperCSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/Lightup/FileScopedNamespaceDeclarationSyntaxWrapperCSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/Lightup/NullableDirectiveTriviaSyntaxWrapperCSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/Lightup/RecordDeclarationSyntaxWrapperCSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/Lightup/ExtensionBlockDeclarationSyntaxWrapperCSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/Lightup/FileScopedNamespaceDeclarationSyntaxWrapperCSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/Lightup/NullableDirectiveTriviaSyntaxWrapperCSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/Lightup/RecordDeclarationSyntaxWrapperCSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/Lightup/NullableDirectiveTriviaSyntaxWrapperCSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/Lightup/NullableDirectiveTriviaSyntaxWrapperCSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/Lightup/RecordDeclarationSyntaxWrapperCSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/CasePatternSwitchLabelSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/ExtensionBlockDeclarationSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/IgnoredDirectiveTriviaSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/LineSpanDirectiveTriviaSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/NullableDirectiveTriviaSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/PrimaryConstructorBaseTypeSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/RecordDeclarationSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/UnionDeclarationSyntaxWrapper.g.cs
Due: production

Keep coverlet.console on the .NET 6 runtime in CI
  .github/workflows/build.yml
Due: none

Add C# 15 wrapper tests for override properties
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/Lightup/ExtensionBlockDeclarationSyntaxWrapperCSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/Lightup/FileScopedNamespaceDeclarationSyntaxWrapperCSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/Lightup/NullableDirectiveTriviaSyntaxWrapperCSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/Lightup/RecordDeclarationSyntaxWrapperCSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/Lightup/UnionDeclarationSyntaxWrapperCSharp15UnitTests.cs
Due: none

SA1649: ignore type declarations without a name
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/DocumentationRules/SA1649CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1649FileNameMustMatchTypeName.cs
Due: production

Regenerate lightup wrappers merged from master
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/AllowsConstraintClauseSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/AllowsConstraintSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/CollectionElementSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/CollectionExpressionSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/ExpressionElementSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/ExtensionBlockDeclarationSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/ExtensionMemberCrefSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/FieldExpressionSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/IgnoredDirectiveTriviaSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/ListPatternSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/RefStructConstraintSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/ScopedTypeSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/SlicePatternSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/SpreadElementSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/UnionDeclarationSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/UnsafeExpressionSyntaxWrapper.g.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.SyntaxLightupGenerator/WithElementSyntaxWrapper.g.cs
Due: production

Build with the latest Roslyn 5.9.0 compiler and the .NET SDK 10.0.400 feature band
  StyleCop.Analyzers/Directory.Build.props
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/StyleCop.Analyzers.CodeGeneration.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateAnalyzers/StyleCop.Analyzers.PrivateAnalyzers.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateCodeFixes/StyleCop.Analyzers.PrivateCodeFixes.csproj
  global.json
Due: none

Allow experimental Roslyn APIs in the C# 15 test project
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/StyleCop.Analyzers.Test.CSharp15.csproj
Due: none

Require the latest Visual Studio 2026 in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Run coverlet.console 10.1.0 on .NET 10 instead of 6.0.4 on .NET 6
  .github/workflows/build.yml
  .nuget/packages.config
Due: none

Upload merged coverage to Codecov again
  .github/workflows/build.yml
Due: none

Use portable PDBs in Debug builds
  StyleCop.Analyzers/Directory.Build.props
Due: none

Match the old OpenCover coverage scope in coverlet
  .github/workflows/build.yml
Due: none

Update SA1008 and SA1009 to ignore parentheses in #line span directives
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/SpacingRules/SA1008CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/SpacingRules/SA1009CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxKindEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1008OpeningParenthesisMustBeSpacedCorrectly.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1009ClosingParenthesisMustBeSpacedCorrectly.cs
Due: production

Stop naming coverlet output after OpenCover in CI
  .github/workflows/build.yml
  .gitignore
Due: none

Remove the unused CodecovUploader package
  .nuget/packages.config
Due: none

Remove the unused OpenCover report script
  StyleCopAnalyzers.sln
  build/opencover-report.ps1
Due: none

Test comma and minus spacing in #line span directives
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/SpacingRules/SA1001CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/SpacingRules/SA1003CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/SpacingRules/SA1021CSharp10UnitTests.cs
Due: none

Check out generated lightup files with CRLF line endings
  .gitattributes
Due: none

CI: fail when checked-in generated files are stale
  .github/workflows/build.yml
Due: none

Document how to regenerate the checked-in generated files
  CONTRIBUTING.md
Due: none

Merge pull request #4130 from DotNetAnalyzers/ci-generated-files-check
  .gitattributes
  .github/workflows/build.yml
  CONTRIBUTING.md
Due: none

Remove the unread MessageFormat field from SA1024
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1024ColonsMustBeSpacedCorrectly.cs
Due: production

Keep split attributes on the same line in the SA1133 code fix for lambdas
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1133CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SA1133CSharp10UnitTests.cs
Due: production

Do not report SA1134 for attributes on lambda expressions
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SA1134CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1134AttributesMustNotShareLine.cs
  documentation/SA1134.md
Due: production

Add tests for explicit lambda return types
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SA1121CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/SpacingRules/SA1008CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/SpacingRules/SA1009CSharp10UnitTests.cs
Due: none

Add SA1131 and SA1404 tests for constant interpolated strings
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/MaintainabilityRules/SA1404CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SA1131CSharp10UnitTests.cs
Due: none

Add SA1101, SA1129 and SA1642 tests for c# 10 struct improvements
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/DocumentationRules/SA1642CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SA1101CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SA1129CSharp10UnitTests.cs
Due: none

Add SA1002 and SA1101 tests for file-scoped namespace declarations
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SA1101CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/SpacingRules/SA1002CSharp10UnitTests.cs
Due: none

Add record struct tests for SA1008, SA1009, SA1127, SA1300, SA1401 and SA1516
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/NamingRules/SA1300CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/SpacingRules/SA1008CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/SpacingRules/SA1009CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/LayoutRules/SA1516CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1401UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1127UnitTests.cs
Due: test

Add tests for interpolated string handlers
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/MaintainabilityRules/SA1405CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SA1122CSharp10UnitTests.cs
Due: none

Add tests for sealed ToString in records
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/DocumentationRules/SA1648CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/SA1206CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SA1100CSharp10UnitTests.cs
Due: none

Add SA1611 test for CallerArgumentExpression parameters
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/DocumentationRules/SA1611CSharp10UnitTests.cs
Due: none
