Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

flags:
  production:
    paths:
      - StyleCop.Analyzers/StyleCop.Analyzers/
      - StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test:
    paths:
      - StyleCop.Analyzers/StyleCop.Analyzers.Test/
      - StyleCop.Analyzers/StyleCopTester/

Update to handle partial properties and indexers, and just add tests in some cases
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/DocumentationRules/SA1600CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/DocumentationRules/SA1601CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/DocumentationRules/SA1604CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/DocumentationRules/SA1605CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/DocumentationRules/SA1606CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/DocumentationRules/SA1607CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/OrderingRules/SA1201CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/OrderingRules/SA1202CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/OrderingRules/SA1205CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/OrderingRules/SA1206CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/ElementDocumentationSummaryBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/PartialElementDocumentationSummaryBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1600ElementsMustBeDocumented.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1601PartialElementsMustBeDocumented.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1605PartialElementDocumentationMustHaveSummary.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1607PartialElementDocumentationMustHaveSummaryText.cs
  documentation/SA1601.md
  documentation/SA1605.md
  documentation/SA1607.md
Due: production

Add tests for c# 14's simple lambda parameters with modifiers
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1000CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1001CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1008CSharp14UnitTests.cs
Due: none

Add tests for user defined compound assignment operators
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/DocumentationRules/SA1611CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/OrderingRules/SA1201CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/OrderingRules/SA1204CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/OrderingRules/SA1206CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/ReadabilityRules/SA1110CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1000CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1008CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1009CSharp14UnitTests.cs
Due: none

Add C# 14 tests for null-conditional assignment and unbound generic types in nameof
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1014CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1015CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1019CSharp14UnitTests.cs
Due: none

Speed up the CI jobs with server GC for the tests and less MSBuild and NuGet overhead
  .github/workflows/build.yml
Due: none

Update SA1508 to handle C# 14 extension blocks
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/LayoutRules/SA1508CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1508ClosingBracesMustNotBePrecededByBlankLine.cs
Due: production

Update SA1106 to handle C# 14 extension blocks
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/ReadabilityRules/SA1106CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1106CodeMustNotContainEmptyStatements.cs
Due: production

Update SA1110 to handle C# 14 extension blocks
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/ReadabilityRules/SA1110CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1110OpeningParenthesisMustBeOnDeclarationLine.cs
Due: production

Update SA1111 to handle C# 14 extension blocks
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/ReadabilityRules/SA1111CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1111ClosingParenthesisMustBeOnLineOfLastParameter.cs
Due: production

Update SA1137 to handle C# 14 extension blocks
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/ReadabilityRules/SA1137CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1137ElementsShouldHaveTheSameIndentation.cs
Due: production

Update SA1516 to handle C# 14 extension blocks
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/LayoutRules/SA1516CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1516ElementsMustBeSeparatedByBlankLine.cs
Due: production

Update SA1502 to handle C# 14 extension blocks
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/LayoutRules/SA1502CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/LayoutRules/SA1502CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1502ElementMustNotBeOnASingleLine.cs
Due: production

Update SA1505 to handle C# 14 extension blocks
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/LayoutRules/SA1505CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1505OpeningBracesMustNotBeFollowedByBlankLine.cs
Due: production

Update SA1500 to handle C# 14 extension blocks
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/LayoutRules/SA1500CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1500BracesForMultiLineStatementsMustNotShareLine.cs
Due: production

Treat C# 14 extension blocks as not restricting member accessibility
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/DocumentationRules/SA1600CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/AccessLevelHelper.cs
Due: production

Add C# 14 extension block tests for rules that already handle them
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/DocumentationRules/SA1611CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/DocumentationRules/SA1618CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/DocumentationRules/SA1619CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/LayoutRules/SA1507CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/LayoutRules/SA1509CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/LayoutRules/SA1513CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/LayoutRules/SA1515CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/MaintainabilityRules/SA1400CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/NamingRules/SA1313CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/NamingRules/SA1314CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/OrderingRules/SA1202CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1000CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1008CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1009CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1014CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1015CSharp14UnitTests.cs
Due: none

Add tests for the field keyword
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/MaintainabilityRules/SA1119CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/ReadabilityRules/SA1101CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1000CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1003CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1008CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1009CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1010CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1011CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1019CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1020CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1021CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1022CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1023CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1024CSharp14UnitTests.cs
Due: none

Update the GitHub Actions to their Node.js 24 versions
  .github/workflows/build.yml
Due: none

Fix field initialization order and duplicate members in the IDE0079 changes
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1503BracesMustNotBeOmitted.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1507CodeMustNotContainMultipleBlankLinesInARow.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1518UseLineEndingsCorrectlyAtEndOfFile.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1519BracesMustNotBeOmittedFromMultiLineChildStatement.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1520UseBracesConsistently.cs
  StyleCop.Analyzers/StyleCop.Analyzers/NamingRules/SA1307AccessibleFieldsMustBeginWithUpperCaseLetter.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1200UsingDirectivesMustBePlacedCorrectly.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1009ClosingParenthesisMustBeSpacedCorrectly.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1010OpeningSquareBracketsMustBeSpacedCorrectly.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1015ClosingGenericBracketsMustBeSpacedCorrectly.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1019MemberAccessSymbolsMustBeSpacedCorrectly.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1023DereferenceAndAccessOfSymbolsMustBeSpacedCorrectly.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1024ColonsMustBeSpacedCorrectly.cs
Due: production

Use the standard .NET gitignore
  .gitignore
Due: none

Rename the SA1601 type declaration handler to match its registered syntax kinds
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1601PartialElementsMustBeDocumented.cs
Due: production

Embed the PDBs in the shipped assemblies and stop producing a symbols package
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/StyleCop.Analyzers.CodeFixes.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/StyleCop.Analyzers.nuspec
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
Due: production

Apply SA1201, SA1202 and SA1204 to members of C# 14 extension blocks
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/OrderingRules/SA1201CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/OrderingRules/SA1202CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/OrderingRules/SA1204CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/OrderingRules/SA1206CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/OrderingRules/SA1212CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1201ElementsMustAppearInTheCorrectOrder.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1202ElementsMustBeOrderedByAccess.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1204StaticElementsMustAppearBeforeInstanceElements.cs
Due: production

Report System types in using alias targets from C# 12 (SA1121, SA1125)
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SA1121CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/ReadabilityRules/SA1121CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/ReadabilityRules/SA1121CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/ReadabilityRules/SA1125CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1121UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/LanguageFeatureHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1121UseBuiltInTypeAlias.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1125UseShorthandForNullableTypes.cs
  documentation/SA1121.md
  documentation/SA1125.md
Due: production, test

Remove suppressions that aren't needed instead of suppressing IDE0079
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Helpers/UseCultureAttribute.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1116UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1121UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/JsonObject.cs
  StyleCop.Analyzers/stylecop.json
Due: production, test

SA1601: one documented part is enough for partial methods, properties and indexers
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/DocumentationRules/SA1601CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1601UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1601PartialElementsMustBeDocumented.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/IPropertySymbolExtensions.cs
  documentation/SA1601.md
Due: production, test

SA1601 tests: Roslyn 1.x does not analyze partial method implementations
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1601UnitTests.cs
Due: test

Update SA1600 to not report partial methods, properties and indexers, since they are reported by SA1601
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/DocumentationRules/SA1600CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/DocumentationRules/SA1600CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/DocumentationRules/SA1601CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1600ElementsMustBeDocumented.cs
  documentation/SA1600.md
Due: production

Test and document SA1600/SA1601 for partial members with one documented part
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/DocumentationRules/SA1600CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/DocumentationRules/SA1600CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/DocumentationRules/SA1601CSharp9UnitTests.cs
  documentation/SA1600.md
Due: none

Handle C# 14 partial constructors and events as partial elements
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/DocumentationRules/SA1600CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/DocumentationRules/SA1601CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/DocumentationRules/SA1604CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/DocumentationRules/SA1605CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/ElementDocumentationSummaryBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/PartialElementDocumentationSummaryBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1600ElementsMustBeDocumented.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1601PartialElementsMustBeDocumented.cs
  documentation/SA1600.md
  documentation/SA1601.md
  documentation/SA1605.md
  documentation/SA1607.md
Due: production

SA1601: one documented part is enough for partial constructors and events
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/DocumentationRules/SA1601CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1601PartialElementsMustBeDocumented.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/IEventSymbolExtensions.cs
  documentation/SA1601.md
Due: production

Clarify spacing tests around the field keyword
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1000CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1003CSharp14UnitTests.cs
Due: none

Test SA1101 with a member named field
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/ReadabilityRules/SA1101CSharp14UnitTests.cs
Due: none

Update SA1122 to trigger on all kinds of empty string literals
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1122UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxKindEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1122UseStringEmptyForEmptyStrings.cs
  documentation/SA1122.md
Due: production, test

SA1122: test each empty literal form at the language version that introduced it
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SA1122CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/ReadabilityRules/SA1122CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/ReadabilityRules/SA1122CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1122UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1122UseStringEmptyForEmptyStrings.cs
  documentation/SA1122.md
Due: production, test

Fix SA1130 false negative for anonymous methods whose parameter names differ from the delegate's
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1130CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1130UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1130UseLambdaSyntax.cs
  documentation/SA1130.md
Due: production, test

SA1206: order the C# 15 closed and safe modifiers with the other non-access modifiers
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/OrderingRules/SA1206CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/ModifierOrderHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxKindEx.cs
Due: production

Support C# 15 union declarations in SA1201, SA1202 and SA1402
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/MaintainabilityRules/SA1402CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/MaintainabilityRules/SA1402ForStructCSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/OrderingRules/SA1201CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp15/OrderingRules/SA1202CSharp15UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/MemberOrderHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxKindEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1402FileMayOnlyContainASingleType.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1201ElementsMustAppearInTheCorrectOrder.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1202ElementsMustBeOrderedByAccess.cs
Due: production

Match C# 13+ test reference assemblies to the language version
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/Helpers/RuntimeReferenceAssemblies.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/ReadabilityRules/SA1116CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/ReadabilityRules/SA1127CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/SpacingRules/SA1000CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/SpacingRules/SA1001CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/SpacingRules/SA1024CSharp13UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp14/SpacingRules/SA1003CSharp14UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/GenericAnalyzerTest.cs
Due: test
