Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

flags:
  production:
    paths:
      - StyleCop.Analyzers/StyleCop.Analyzers/
      - StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test:
    paths:
      - StyleCop.Analyzers/StyleCop.Analyzers.Test/
      - StyleCop.Analyzers/StyleCopTester/

Add missing test class for C# 13
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/Lightup/ForEachVariableStatementSyntaxWrapperCSharp13UnitTests.cs
Due: none

Apply suggestions from code review
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1001UnitTests.cs
Due: test

Apply suggestions from code review
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1514UnitTests.cs
Due: test

Address code review feedback
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/MaintainabilityRules/SA1402ForClassCSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/MaintainabilityRules/SA1402ForDelegateCSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/MaintainabilityRules/SA1402ForEnumCSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/MaintainabilityRules/SA1402ForInterfaceCSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/MaintainabilityRules/SA1402ForRecordCSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/MaintainabilityRules/SA1402ForRecordClassCSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/MaintainabilityRules/SA1402ForRecordStructCSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/MaintainabilityRules/SA1402ForStructCSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1402FileMayOnlyContainASingleType.cs
Due: production

Use existing shared helper methods
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1402FileMayOnlyContainASingleType.cs
Due: production

Address code review feedback
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1623UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1624UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/PropertySummaryDocumentationAnalyzer.cs
Due: production, test

Added tests for VT.Create
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/ReadabilityRules/SA1141CSharp7UnitTests.cs
Due: none

Encapsulate the using alias cache
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/SyntaxTreeHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/UsingAliasCache.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1404CodeAnalysisSuppressionMustHaveJustification.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1121UseBuiltInTypeAlias.cs
Due: production

Simplify lightup
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/UsingAliasCache.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ImmutableArrayWrapper`1.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LightupHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SemanticModelExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/WrapperHelper.cs
Due: production

Use real symbols instead of Moq
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/Lightup/IImportScopeWrapperCSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/StyleCop.Analyzers.Test.CSharp11.csproj
Due: none

Fix ContainsGlobalUsingAlias when the file starts with a global using directive
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/ReadabilityRules/SA1121CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/UsingAliasCache.cs
Due: production

Fix global using detection
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/UsingAliasCache.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxKindEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/UsingDirectiveSyntaxExtensions.cs
Due: production

Fix fallback handling in ImmutableArrayWrapper<T>
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/ImmutableArrayWrapper`1.cs
Due: production

Use existing constant SyntaxKind.GlobalKeyword
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/UsingAliasCache.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxKindEx.cs
Due: production

Simplify condition checks
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1516ElementsMustBeSeparatedByBlankLine.cs
Due: production

Update SA1200 to simply ignore global using directive placement
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/UsingCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/SA1200CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1200UsingDirectivesMustBePlacedCorrectly.cs
Due: production

Implement full sort handling for global using directives
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/UsingCodeFixProvider.UsingsSorter.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/UsingCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/SA1200CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/SA1200OutsideNamespaceCSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/SA1200PreserveCSharp10UnitTests.cs
Due: production

Implement global keyword support in using directives
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/SA1208CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/SA1209CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/SA1210CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/SA1210CombinedSystemDirectivesCSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/SA1211CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/SA1216CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/SA1217CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/UsingCodeFixProviderCSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/UsingCodeFixProviderCombinedSystemDirectivesCSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/UsingCodeFixProviderGroupSeparationCSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/UsingCodeFixProviderRegressionCSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/UsingCodeFixProviderCombinedSystemDirectivesUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/UsingCodeFixProviderGroupSeparationUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/UsingCodeFixProviderRegressionUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/UsingCodeFixProviderUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1208SystemUsingDirectivesMustBePlacedBeforeOtherUsingDirectives.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1209UsingAliasDirectivesMustBePlacedAfterOtherUsingDirectives.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1210UsingDirectivesMustBeOrderedAlphabeticallyByNamespace.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1211UsingAliasDirectivesMustBeOrderedAlphabeticallyByAliasName.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1216UsingStaticDirectivesMustBePlacedAtTheCorrectLocation.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1217UsingStaticDirectivesMustBeOrderedAlphabetically.cs
Due: production, test

Update documentation to reflect the new behavior
  documentation/SA1200.md
  documentation/SA1208.md
  documentation/SA1209.md
  documentation/SA1210.md
  documentation/SA1211.md
  documentation/SA1216.md
  documentation/SA1217.md
Due: none

Simplified SyntaxTree.IsEmpty()
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/SyntaxTreeHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1518UseLineEndingsCorrectlyAtEndOfFile.cs
Due: production

Avoid placing expected results as test inputs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LayoutRules/SA1518UnitTests.cs
Due: test

Add additional test cases
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/SpacingRules/SA1008CSharp12UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1008UnitTests.cs
Due: test

Update SA1206 for readonly members
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/OrderingRules/SA1206CodeFixProviderCSharp8UnitTests.cs
Due: none

Update SA1214 for readonly members
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/OrderingRules/SA1214CSharp8UnitTests.cs
  documentation/SA1214.md
Due: none

Update SA1304/SA1307/SA1311 for readonly members
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/NamingRules/SA1304CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/NamingRules/SA1307CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/NamingRules/SA1311CSharp8UnitTests.cs
  documentation/SA1304.md
  documentation/SA1307.md
  documentation/SA1311.md
Due: none

Update SA1401 for readonly members
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/MaintainabilityRules/SA1401CSharp8UnitTests.cs
  documentation/SA1401.md
Due: none

Update SA1212 for readonly members
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/OrderingRules/SA1212CSharp8UnitTests.cs
  documentation/SA1212.md
Due: none

Update SX1309/SX1309S for readonly members
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/NamingRules/SX1309CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/NamingRules/SX1309SCSharp8UnitTests.cs
  documentation/SX1309.md
  documentation/SX1309S.md
Due: none

Update SA1649 for readonly members
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/DocumentationRules/SA1649CSharp8UnitTests.cs
  documentation/SA1649.md
Due: none

Update SA1503 and SA1106 for using declarations
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/LayoutRules/SA1503CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/ReadabilityRules/SA1106CSharp8UnitTests.cs
  documentation/SA1106.md
  documentation/SA1503.md
Due: none

Update SA1600 for default interface members
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/DocumentationRules/SA1600CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1600UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1600ElementsMustBeDocumented.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/AccessLevelHelper.cs
  documentation/SA1600.md
Due: production, test

Update SA1204 for default interface members
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/OrderingRules/SA1204CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1204StaticElementsMustAppearBeforeInstanceElements.cs
  documentation/SA1204.md
Due: production

Update SA1202 for default interface members
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/OrderingRules/SA1202CSharp8UnitTests.cs
  documentation/SA1202.md
Due: none

Update SA1400 for default interface members
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/MaintainabilityRules/SA1400CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1400AccessModifierMustBeDeclared.cs
  documentation/SA1400.md
Due: production

Update SA1003 for pattern matching
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1003CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1003SymbolsMustBeSpacedCorrectly.cs
  documentation/SA1003.md
Due: production

Update SA1119 for pattern matching
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/MaintainabilityRules/SA1119CSharp8UnitTests.cs
  documentation/SA1119.md
Due: none

Update SA1500 for pattern matching
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/LayoutRules/SA1500CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1500BracesForMultiLineStatementsMustNotShareLine.cs
  documentation/SA1500.md
Due: production

Update SA1513 for pattern matching
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/LayoutRules/SA1513CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1513ClosingBraceMustBeFollowedByBlankLine.cs
  documentation/SA1513.md
Due: production

Update SA1508/SA1509 for pattern matching
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/LayoutRules/SA1508CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/LayoutRules/SA1509CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1508ClosingBracesMustNotBePrecededByBlankLine.cs
  documentation/SA1508.md
  documentation/SA1509.md
Due: production

Update SA1309/SX1309 for pattern matching
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/NamingRules/SA1309CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/NamingRules/SX1309CSharp8UnitTests.cs
  documentation/SA1309.md
  documentation/SX1309.md
Due: none
