Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Improve coverage for SA1404 by adding test for full attribute name
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1404UnitTests.cs
Due: test

Improve coverage for SA1213 by adding test with only one accessor
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1213UnitTests.cs
Due: test

Improve coverage for SA1600 by adding tests for partial types
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1600UnitTests.cs
Due: test

Improve coverage for SA1110 by adding tests for attributes with qualified names
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1110UnitTests.cs
Due: test

Improve coverage for SA1201 by adding tests with record structs.
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/OrderingRules/SA1201CSharp10UnitTests.cs
Due: none

Improve coverage for SA1404 by adding test for other attributes besides suppressions
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1404UnitTests.cs
Due: test

Improve coverage for SA1010 by adding test for creation of implicitly typed arrays
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1010UnitTests.cs
Due: test

Match default reference assemblies to default language version
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/NamingRules/SA1313CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SA1101CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/OrderingRules/SA1206CSharp11CodeFixProviderUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/SpacingRules/SA1010CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/SpacingRules/SA1012CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/NamingRules/SA1300CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/NamingRules/SA1313CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1101CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/SpacingRules/SA1023CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/DebugMessagesUnitTestsBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1009UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/GenericAnalyzerTest.cs
Due: test

Update SA1202 to support interfaces and records
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/OrderingRules/SA1202CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Helpers/CommonMemberData.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1202UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/MemberOrderHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1202ElementsMustBeOrderedByAccess.cs
Due: production, test

Also add records as supported member kinds
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1202UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1202ElementsMustBeOrderedByAccess.cs
Due: production, test

Fix failure to sort record kinds correctly
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1201UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/MemberOrderHelper.cs
Due: production, test

Update documentation for SA1308 to also mention prefix "t_" #3695
  documentation/SA1308.md
Due: none

Update SA1642 and its code fix to handle record structs correctly. Also add tests for records and record classes. #3518
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/SA1642SA1643CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1642UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1642ConstructorSummaryDocumentationMustBeginWithStandardText.cs
Due: production, test

Update analyzers
  .gitignore
  StyleCop.Analyzers/Directory.Build.props
  StyleCop.Analyzers/StyleCop.Analyzers.Internal.ruleset
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/DocumentationResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/HelpersResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/LayoutResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/MaintainabilityResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/NamingResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/OrderingResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/ReadabilityResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/SettingsResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/SpacingResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/.generated/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.CSharpResxGenerator/SpecialResources.Designer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
Due: production

Fix nullability warnings in source generators
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/OperationLightupGenerator.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/SyntaxLightupGenerator.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeGeneration/XElementExtensions.cs
Due: none

Add missing test files and fix inheritance
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/MaintainabilityRules/SA1414CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SA1141CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/ReadabilityRules/SA1142CSharp10UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/MaintainabilityRules/SA1414CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/ReadabilityRules/SA1141CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/ReadabilityRules/SA1142CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/ReadabilityRules/SA1141CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/MaintainabilityRules/SA1414CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/ReadabilityRules/SA1141CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/ReadabilityRules/SA1142CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/MaintainabilityRules/SA1414CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1141CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1142CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1141UnitTests.cs
Due: test

Use ImmutableArray<T>.Builder instead of ArrayBuilder<T>
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateCodeFixes/Helpers/AbstractRefactoringHelpers`3.cs
Due: none

Add refactoring helpers
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateCodeFixes/Helpers/AbstractRefactoringHelpers`3.cs
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateCodeFixes/Helpers/AbstractSyntaxFacts.cs
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateCodeFixes/Helpers/CSharpRefactoringHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateCodeFixes/Helpers/CSharpSyntaxFacts.cs
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateCodeFixes/Helpers/CSharpSyntaxKinds.cs
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateCodeFixes/Helpers/CodeRefactoringContextExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateCodeFixes/Helpers/CodeRefactoringHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateCodeFixes/Helpers/IRefactoringHelpers.cs
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateCodeFixes/Helpers/ISyntaxFacts.cs
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateCodeFixes/Helpers/ISyntaxFactsExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateCodeFixes/Helpers/ISyntaxKinds.cs
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateCodeFixes/Helpers/RoslynDebug.cs
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateCodeFixes/Helpers/SourceTextExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateCodeFixes/Helpers/SyntaxNodeExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateCodeFixes/Helpers/SyntaxNodeExtensions_GetAttributeLists.cs
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateCodeFixes/Helpers/SyntaxTokenExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateCodeFixes/Helpers/SyntaxTreeExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateCodeFixes/Helpers/TextLineExtensions.cs
Due: none

Add 'Generate additional part' refactoring
  StyleCop.Analyzers/StyleCop.Analyzers.PrivateCodeFixes/GeneratePartCodeRefactoringProvider.cs
Due: none

Update SA1131 to treat methods as constants #3677
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1131UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/ReadabilityRules/SA1131UseReadableConditions.cs
Due: production, test

Update SA1011 to not require space before a range operator #3708
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1011CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1011ClosingSquareBracketsMustBeSpacedCorrectly.cs
Due: production

Avoid allocations in CanWrap... methods
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LightupHelpers.cs
Due: production

Remove local function
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LightupHelpers.cs
Due: production

Revert changes for static delegate
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LightupHelpers.cs
Due: production

Comments
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LightupHelpers.cs
Due: production

Temporary workaround for unstable SA1134 code fix by allowing any number of iterations in one specific test case #2438
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1134UnitTests.cs
Due: test

Update SA1648 to accept inheritdoc on members implemented from static abstract/virtual interface members. Also add tests for non-abstract/virtual interface members. #3595
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/DocumentationRules/SA1648CSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/DocumentationRules/SA1648CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1648UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/NamedTypeHelpers.cs
Due: production, test

Allow inheritdoc for constructors with base types
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1648UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1648InheritDocMustBeUsedWithInheritingClass.cs
Due: production, test

Fix
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1648InheritDocMustBeUsedWithInheritingClass.cs
Due: production

Another approach
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1648InheritDocMustBeUsedWithInheritingClass.cs
Due: production

Improve implementation
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1648UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1648InheritDocMustBeUsedWithInheritingClass.cs
Due: production, test

Update SA1600 to also handle records #3723
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1600UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1600ElementsMustBeDocumented.cs
  documentation/SA1600.md
Due: production, test

Remove #nullable enable from the test
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1648UnitTests.cs
Due: test

SA1648InheritDocMustBeUsedWithInheritingClass: Enable NRT
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1648InheritDocMustBeUsedWithInheritingClass.cs
Due: production

Move up and use `declaredSymbol`
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1648InheritDocMustBeUsedWithInheritingClass.cs
Due: production

Improve coverage for AccessLevelHelper by adding tests for the GetAccessLevel method
  StyleCop.Analyzers/StyleCop.Analyzers.Test/HelperTests/AccessLevelHelperTests.cs
Due: test

Split tests
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1648UnitTests.cs
Due: test

Address review comments
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1648UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1648InheritDocMustBeUsedWithInheritingClass.cs
Due: production, test

Path conditions:
  production: any of: StyleCop.Analyzers/StyleCop.Analyzers/, StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test: any of: StyleCop.Analyzers/StyleCop.Analyzers.Test/, StyleCop.Analyzers/StyleCopTester/
