Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

flags:
  production:
    paths:
      - StyleCop.Analyzers/StyleCop.Analyzers/
      - StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test:
    paths:
      - StyleCop.Analyzers/StyleCop.Analyzers.Test/
      - StyleCop.Analyzers/StyleCopTester/

Update SA1206 tests for covariant return types
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/OrderingRules/SA1206CSharp9UnitTests.cs
Due: none

Update SA1205 for partial methods
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/OrderingRules/SA1205CSharp9UnitTests.cs
  documentation/SA1205.md
Due: none

Update SA1611 for partial methods
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/DocumentationRules/SA1611CSharp9UnitTests.cs
Due: none

Update SA1612 for partial methods
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/DocumentationRules/SA1612CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1612UnitTests.cs
Due: test

Update SA1615 for partial methods
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/DocumentationRules/SA1615CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1615UnitTests.cs
Due: test

Update SA1618 for partial methods
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/DocumentationRules/SA1618CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1618UnitTests.cs
Due: test

Update SA1202 for partial methods
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/OrderingRules/SA1202CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1202UnitTests.cs
Due: test

Update SA1130 for static anonymous functions
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1130CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1130CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/AnonymousFunctionExpressionSyntaxExtensions.cs
  documentation/SA1130.md
Due: production

Update SA1008 for static anonymous functions
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/SpacingRules/SA1008CSharp9UnitTests.cs
Due: none

Update SA1101 for static anonymous functions
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1101CSharp9UnitTests.cs
Due: none

Update SA1110 for static anonymous functions
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1110CSharp9UnitTests.cs
Due: none

Update SA1111 for static anonymous functions
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1111CSharp9UnitTests.cs
Due: none

Update SA1112 for static anonymous functions
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1112CSharp9UnitTests.cs
Due: none

Update SA1113 for static anonymous functions
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1113CSharp9UnitTests.cs
Due: none

Update SA1114 for static anonymous functions
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1114CSharp9UnitTests.cs
Due: none

Update SA1115 for static anonymous functions
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1115CSharp9UnitTests.cs
Due: none

Update SA1116 for static anonymous functions
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1116CSharp9UnitTests.cs
Due: none

Update SA1117 for static anonymous functions
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1117CSharp9UnitTests.cs
Due: none

Update SA1118 for static anonymous functions
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1118CSharp9UnitTests.cs
Due: none

Update SA1410 for static anonymous functions
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/MaintainabilityRules/SA1410CSharp9UnitTests.cs
  documentation/SA1410.md
Due: none

Add SA1501 tests for extension foreach
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/LayoutRules/SA1501CSharp9UnitTests.cs
Due: none

Add SA1503 tests for extension foreach
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/LayoutRules/SA1503CSharp9UnitTests.cs
Due: none

Add SA1519 tests for extension foreach
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/LayoutRules/SA1519CSharp9UnitTests.cs
Due: none

Add SA1312 tests for extension foreach
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/NamingRules/SA1312CSharp9UnitTests.cs
Due: none

Add SA1101 tests for extension foreach
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1101CSharp9UnitTests.cs
Due: none

Add SA1106 tests for extension foreach
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1106CSharp9UnitTests.cs
Due: none

Add SA1000 tests for extension foreach
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/SpacingRules/SA1000CSharp9UnitTests.cs
Due: none

Update SA1015 for function pointers
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/SpacingRules/SA1015CSharp9UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1015ClosingGenericBracketsMustBeSpacedCorrectly.cs
  documentation/SA1015.md
Due: production

Update SA1018 for function pointers
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/SpacingRules/SA1018CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/SpacingRules/SA1018CSharp9UnitTests.cs
Due: production

Update SA1121 tests for function pointers
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/ReadabilityRules/SA1121CSharp9UnitTests.cs
Due: none

Update SA1023 documentation for function pointers
  documentation/SA1023.md
Due: none

Fix comment placement
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1612UnitTests.cs
Due: test

Improve documentation clarity
  documentation/SA1129.md
Due: none

Make the test intent more obvious
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/DocumentationRules/SA1649CSharp9UnitTests.cs
Due: none

chore(deps): add coverlet.console alongside opencover
  .nuget/packages.config
Due: none

ci(coverage): use coverlet in test template
  build/test.yml
Due: none

test(coverage): add coverlet collector and runsettings
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/StyleCop.Analyzers.Test.CSharp10.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/StyleCop.Analyzers.Test.CSharp11.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/StyleCop.Analyzers.Test.CSharp12.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/StyleCop.Analyzers.Test.CSharp13.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/StyleCop.Analyzers.Test.CSharp8.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/StyleCop.Analyzers.Test.CSharp9.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  build/coverlet.runsettings
Due: test

ci(coverage): drive tests with coverlet collector
  build/test.yml
Due: none

ci(coverage): merge collector outputs in wrap-up stage
  build/build-and-test.yml
Due: none

build(coverage): add collector-based local coverage script
  build/coverage-report.ps1
  build/opencover-report.ps1
Due: none
