Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Fix handling of trivia before first using directive
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/UsingCodeFixProvider.UsingsSorter.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/UsingCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1200UnitTests.cs
Due: production, test

Added tests for LightJson for checking behaviour with cultures with non-standard number format.
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LightJson/JsonValueTests.cs
Due: test

Updated JsonValue to ignore current culture in methods AsNumber and AsString.
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/JsonValue.cs
Due: production

Include settings with callbacks in ElementDocumentationSummaryBase
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/ElementDocumentationSummaryBase.cs
Due: production

Use a single implementation of NeedsComment for SA1600, SA1601, SA1602
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1600ElementsMustBeDocumented.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1601PartialElementsMustBeDocumented.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1602EnumerationItemsMustBeDocumented.cs
Due: production

Update SA1604 to ignore elements that do not require documentation
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1604UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/ElementDocumentationSummaryBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1604ElementDocumentationMustHaveSummary.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1606ElementDocumentationMustHaveSummaryText.cs
Due: production, test

Update SA1611 to suppress messages when documentation for an element is optional
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1611UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/ElementDocumentationBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1608ElementDocumentationMustNotHaveDefaultSummary.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1611ElementParametersMustBeDocumented.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1612ElementParameterDocumentationMustMatchElementParameters.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1613ElementParameterDocumentationMustDeclareParameterName.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1614ElementParameterDocumentationMustHaveText.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1616ElementReturnValueDocumentationMustHaveText.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1625ElementDocumentationMustNotBeCopiedAndPasted.cs
Due: production, test

Update SA1615 to suppress messages when documentation for an element is optional
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1615UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1615ElementReturnValueMustBeDocumented.cs
Due: production, test

Update test cases to cover all changes
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1600UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1601UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1602UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1611UnitTests.cs
Due: test

Update SA1618 to suppress messages when documentation for an element is optional
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1618UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1618GenericTypeParametersMustBeDocumented.cs
Due: production, test

Fix mistake in documentation of 'documentInternalElements'
  documentation/Configuration.md
Due: none

Update SA1605 to suppress messages when documentation for an element is optional
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1605UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/PartialElementDocumentationSummaryBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1605PartialElementDocumentationMustHaveSummary.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1607PartialElementDocumentationMustHaveSummaryText.cs
Due: production, test

Update SA1609 to suppress messages when documentation for an element is optional
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1609UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/PropertyDocumentationBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/PropertySummaryDocumentationAnalyzer.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1609PropertyDocumentationMustHaveValue.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1610PropertyDocumentationMustHaveValueText.cs
Due: production, test

Update SA1619 to suppress messages when documentation for an element is optional
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1619UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1619GenericTypeParametersMustBeDocumentedPartialClass.cs
Due: production, test

Update SA1612 to suppress messages when documentation for an element is optional
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1612UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1612ElementParameterDocumentationMustMatchElementParameters.cs
Due: production, test

Add tests for qualification of using alias directive
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1200OutsideNamespaceUnitTests.cs
Due: test

Fix handling of both a header and a separated comment
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/UsingCodeFixProvider.UsingsSorter.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1200UnitTests.cs
Due: production, test

Remove unnecessary handling of null location in SA1612
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/SA1612ElementParameterDocumentationMustMatchElementParameters.cs
Due: production

Add tests for behavior of preprocessor lines
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1200UnitTests.cs
Due: test

Add tests for comments and groups when moving out of a namespace
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/UsingCodeFixProvider.UsingsSorter.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/SA1200OutsideNamespaceUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/OrderingRules/UsingCodeFixProviderGroupSeparationUnitTests.cs
Due: production, test

Remove unreachable test code
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1605UnitTests.cs
Due: test

Fix state when deleting leading whitespace from moved trivia
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/UsingCodeFixProvider.UsingsSorter.cs
Due: production

Added tests for CasePatternSwitchLabelSyntaxWrapper.
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/CasePatternSwitchLabelSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/CasePatternSwitchLabelSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Remove configuration for non-existent rule
  StyleCop.Analyzers/StyleCop.Analyzers.ruleset
Due: none

Relax warning severity in developer builds in favor of strict CI validation
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/StyleCop.Analyzers.CodeFixes.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Vsix/StyleCop.Analyzers.Vsix.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.ruleset
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
  StyleCop.Analyzers/StyleCopTester/StyleCopTester.csproj
Due: production, test

Update Microsoft.CodeAnalysis.Analyzers to fix NullReferenceException in build
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/StyleCop.Analyzers.CodeFixes.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/packages.config
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/packages.config
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/packages.config
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
  StyleCop.Analyzers/StyleCop.Analyzers/packages.config
  StyleCop.Analyzers/StyleCopTester/StyleCopTester.csproj
  StyleCop.Analyzers/StyleCopTester/packages.config
Due: production, test

Fix SA1515 handling of comment after pattern-matching case label
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/LayoutRules/SA1515CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1515SingleLineCommentMustBePrecededByBlankLine.cs
Due: production

Update version numbers for release 1.1.0-beta004
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/Properties/AssemblyInfo.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Properties/AssemblyInfo.cs
  build/version.ps1
Due: production

Prepare for next development iteration
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/Properties/AssemblyInfo.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Properties/AssemblyInfo.cs
  build/version.ps1
Due: production

Update to StyleCop Analyzers 1.1.0-beta004
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/StyleCop.Analyzers.CodeFixes.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/packages.config
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/packages.config
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/packages.config
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
  StyleCop.Analyzers/StyleCop.Analyzers/packages.config
  StyleCop.Analyzers/StyleCopTester/StyleCopTester.csproj
  StyleCop.Analyzers/StyleCopTester/packages.config
Due: production, test

Support running tests when mscorlib contains ValueTuple
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Helpers/MetadataReferences.cs
Due: test

Fix SA1008 handling of tuple type opening parenthesis
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1008CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/TypeSyntaxHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1008OpeningParenthesisMustBeSpacedCorrectly.cs
Due: production

Fix SA1009 handling of tuple type closing parenthesis
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1009CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1009ClosingParenthesisMustBeSpacedCorrectly.cs
Due: production

Update SA1003 and SA1019 to handle member access after unary postfix operator
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1003UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1019UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1003SymbolsMustBeSpacedCorrectly.cs
Due: production, test

Update SA1019 to report violations for pointer member access
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1019UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1019MemberAccessSymbolsMustBeSpacedCorrectly.cs
Due: production, test

Upgrade solution for ongoing development in Visual Studio 2017
  StyleCop.Analyzers/StyleCop.Analyzers.Vsix/StyleCop.Analyzers.Vsix.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Vsix/packages.config
  StyleCop.Analyzers/StyleCop.Analyzers.Vsix/source.extension.vsixmanifest
  StyleCopAnalyzers.sln
  appveyor.yml
Due: none

Fix build warnings not reported by the Visual Studio 2015 compiler
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/ElementDocumentationSummaryBase.cs
  StyleCop.Analyzers/StyleCop.Analyzers/DocumentationRules/PartialElementDocumentationSummaryBase.cs
Due: production

Updated documentation to refer to Visual Studio 2017
  CONTRIBUTING.md
  README.md
Due: none

Path conditions:
  production: any of: StyleCop.Analyzers/StyleCop.Analyzers/, StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test: any of: StyleCop.Analyzers/StyleCop.Analyzers.Test/, StyleCop.Analyzers/StyleCopTester/
