Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

flags:
  production:
    paths:
      - StyleCop.Analyzers/StyleCop.Analyzers/
      - StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test:
    paths:
      - StyleCop.Analyzers/StyleCop.Analyzers.Test/
      - StyleCop.Analyzers/StyleCopTester/

Add tests for default LightJson exception constructors
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LightJson/Serialization/JsonParseExceptionTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/LightJson/Serialization/JsonSerializationExceptionTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Incorporate changes from MarcosLopezC/LightJson@d866746eaa58344dcc687ef86f8eeb6f80134b2e
  StyleCop.Analyzers/StyleCop.Analyzers/LightJson/Serialization/JsonWriter.cs
Due: production

Update version numbers for release 1.1.0-beta002
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/Properties/AssemblyInfo.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Properties/AssemblyInfo.cs
  build/version.ps1
Due: production

Prepare for next development iteration
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/Properties/AssemblyInfo.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Properties/AssemblyInfo.cs
  build/version.ps1
Due: production

Fix push script which was broken per NuGet/Home#2504
  build/push.ps1
Due: none

Added tests for SA1009 that must not be triggered when the closing parenthesis followed by '>' operator
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1009UnitTests.cs
Due: test

Fix behavior of SA1009 for closing paren before binary operator
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1009UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1009ClosingParenthesisMustBeSpacedCorrectly.cs
Due: production, test

Add back a proper integration test for #255 and #256
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1009UnitTests.cs
Due: test

Update version numbers for release 1.1.0-beta003
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/Properties/AssemblyInfo.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Properties/AssemblyInfo.cs
  build/version.ps1
Due: production

Update to StyleCop Analyzers 1.1.0-beta003
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/StyleCop.Analyzers.CodeFixes.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/packages.config
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/packages.config
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/packages.config
  StyleCop.Analyzers/StyleCop.Analyzers/StyleCop.Analyzers.csproj
  StyleCop.Analyzers/StyleCop.Analyzers/packages.config
  StyleCop.Analyzers/StyleCopTester/StyleCopTester.csproj
  StyleCop.Analyzers/StyleCopTester/packages.config
Due: production, test

Fix all violations of SA1413 (Add trailing comma to last enum member)
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/AccessLevel.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/ModifierOrderHelper.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Helpers/UsingGroup.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/DeserializationFailureBehavior.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/FileNamingConvention.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/OptionSetting.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/OrderingTrait.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/TopLevelType.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Settings/ObjectModel/UsingDirectivesPlacement.cs
Due: production

Update documentation for SA1413 to include rationale
  documentation/SA1413.md
Due: none

Clarify that SA1413 is also reported for enum members
  documentation/SA1413.md
Due: none

Ignore spacing around a default literal expression
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SyntaxKindEx.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1000KeywordsMustBeSpacedCorrectly.cs
Due: production

Add WorkItemAttribute
  StyleCop.Analyzers/StyleCop.Analyzers.Test/AttributeTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/WorkItemAttribute.cs
Due: test

Fix analysis of spacing after 'var'
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/SpacingRules/SA1000CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1000UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1008UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1000KeywordsMustBeSpacedCorrectly.cs
Due: production, test

Fix file header insertion before a blank line
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/FileHeaderCodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/NoXmlFileHeaderUnitTests.cs
Due: production, test

Avoid reporting necessary parenthesis in 'is pattern expression'
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/MaintainabilityRules/SA1119CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1119StatementMustNotUseUnnecessaryParenthesis.cs
Due: production

Add a test for SA0002 when deserialization throws JsonParseException
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpecialRules/SA0002UnitTests.cs
Due: test

Add tests for AnalyzerExtensions functionality which is not currently used
  StyleCop.Analyzers/StyleCop.Analyzers.Test/AnalyzerExtensionsTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Add a SA0002 test for an exception not related to JSON deserialization
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpecialRules/SA0002UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Add tests for Requires.NotNull
  StyleCop.Analyzers/StyleCop.Analyzers.Test/HelperTests/RequiresTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Add tests for additional types of JSON parsing errors
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpecialRules/SA0002UnitTests.cs
Due: test

Add initial object pools tests
  StyleCop.Analyzers/StyleCop.Analyzers.Test/HelperTests/ObjectPools/ObjectPoolTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/HelperTests/ObjectPools/SharedPoolsTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Remove handling of impossible case from SA1006
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1006PreprocessorKeywordsMustNotBePrecededBySpace.cs
Due: production

Add tests to improve settings coverage
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Settings/SettingsUnitTests.cs
Due: test

Add test for edge case where the preprocessor directive name is missing
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SpacingRules/SA1006UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1006PreprocessorKeywordsMustNotBePrecededBySpace.cs
Due: production, test

Add tests for DiagnosticVerifier
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Helpers/DiagnosticResult.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/DiagnosticVerifierTests.cs
Due: test

Expand DiagnosticVerifier tests to cover additional edge cases
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/DiagnosticVerifierTests.cs
Due: test

Remove an unnecessary condition to simplify test code
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/ReadabilityRules/SA1125CSharp7UnitTests.cs
Due: none

Updated instructions for enabling configuration in VS 2017
  documentation/EnableConfiguration.md
Due: none

Add tests for DeclarationExpressionSyntaxWrapper
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/DeclarationExpressionSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/DeclarationExpressionSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Add tests for RefExpressionSyntaxWrapper
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/RefExpressionSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/RefExpressionSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Add tests for TupleTypeSyntaxWrapper
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/TupleTypeSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/TupleTypeSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Add tests for TupleExpressionSyntaxWrapper
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/TupleExpressionSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/TupleExpressionSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Add tests for TupleElementSyntaxWrapper
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/TupleElementSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/TupleElementSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Add tests for AddArguments and AddElements
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/TupleExpressionSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/TupleTypeSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/TupleExpressionSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/TupleTypeSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/SeparatedSyntaxListWrapper`1.cs
Due: production, test

Added tests for LocalFunctionStatementSyntaxWrapper.
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/Lightup/LocalFunctionStatementSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Lightup/LocalFunctionStatementSyntaxWrapperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test

Fix sort order in project files
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
Due: test
