Repository DotNetAnalyzers/StyleCopAnalyzers: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Update SA1000/SA1001/SA1024 for pattern matching
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1000CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1001CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1024CSharp8UnitTests.cs
Due: none

Update SA1505/SA1506/SA1510/SA1511 for pattern matching
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/LayoutRules/SA1505CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/LayoutRules/SA1506CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/LayoutRules/SA1510CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/LayoutRules/SA1511CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1505OpeningBracesMustNotBeFollowedByBlankLine.cs
Due: production

Update SA1649CodeFixProvider to use method WithDocumentName in Solution if it is available #2277
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/SA1649CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/Lightup/SolutionExtensions.cs
  StyleCop.Analyzers/StyleCop.Analyzers/Lightup/LightupHelpers.cs
Due: production

Update SA1101 for static local functions
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/ReadabilityRules/SA1101CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/ReadabilityRules/SA1101CSharp8UnitTests.cs
Due: none

Update SA1300 for static local functions
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/NamingRules/SA1300CSharp7UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/NamingRules/SA1300CSharp8UnitTests.cs
  documentation/SA1300.md
Due: none

Update SA1206 for static local functions
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/OrderingRules/SA1206CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/OrderingRules/SA1206CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/OrderingRules/SA1206DeclarationKeywordsMustFollowOrder.cs
Due: production

Update SA1000 for asynchronous streams
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1000CSharp8UnitTests.cs
Due: none

Update SA1008 for asynchronous streams
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1008CSharp8UnitTests.cs
Due: none

Update SA1503 for asynchronous streams
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/LayoutRules/SA1503CSharp8UnitTests.cs
Due: none

Update SA1519 for asynchronous streams
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/LayoutRules/SA1519CSharp8UnitTests.cs
Due: none

Update SA1106 for asynchronous streams
  StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SA1106CodeFixProvider.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/ReadabilityRules/SA1106CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/ReadabilityRules/SA1106UnitTests.cs
Due: production, test

Update SA1003 for indices and ranges
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1003CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/SpacingRules/SA1003SymbolsMustBeSpacedCorrectly.cs
  documentation/SA1003.md
Due: production

Update SA1010 for indices and ranges
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1010CSharp8UnitTests.cs
Due: none

Update SA1011 for indices and ranges
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1011CSharp8UnitTests.cs
Due: none

Update SA1019 for indices and ranges
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1019CSharp8UnitTests.cs
Due: none

Update SA1119 for indices and ranges
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/MaintainabilityRules/SA1119CSharp8UnitTests.cs
Due: none

Update SA1011 for nullable reference types
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1011CSharp8UnitTests.cs
  documentation/SA1011.md
Due: none

Update SA1633 for nullable reference types
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/DocumentationRules/SA1633CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/DocumentationRules/SA1633UnitTests.cs
Due: test

Update SA1125 for nullable reference types
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/ReadabilityRules/SA1125CSharp8UnitTests.cs
  documentation/SA1125.md
Due: none

Update SA1131 for nullable reference types
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/ReadabilityRules/SA1131CSharp8UnitTests.cs
  documentation/SA1131.md
Due: none

Update SA1013 for nullable reference types
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1013CSharp8UnitTests.cs
  documentation/SA1013.md
Due: none

Update SA1130 for nullable reference types
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/ReadabilityRules/SA1130CSharp8UnitTests.cs
Due: none

Update SA1019 for nullable reference types
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1019CSharp8UnitTests.cs
  documentation/SA1019.md
Due: none

Update SA1015 for nullable reference types
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1015CSharp8UnitTests.cs
  documentation/SA1015.md
Due: none

Update SA1018 for nullable reference types
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/SpacingRules/SA1018CSharp8UnitTests.cs
  documentation/SA1018.md
Due: none

Document known behavior change in SA1303
  documentation/KnownChanges.md
Due: none

Document known behavior change in SA1313
  documentation/KnownChanges.md
Due: none

Document known behavior change in SA1025
  documentation/KnownChanges.md
Due: none

Document known behavior change in SA1514
  documentation/KnownChanges.md
Due: none

Use CreateWorkspaceAsync from the testing library
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/Lightup/IImportScopeWrapperCSharp11UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/Settings/SettingsCSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/HelperTests/IndentationHelperTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/HelperTests/SymbolNameHelpersUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Settings/SettingsUnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/GenericAnalyzerTest.cs
Due: test

Add net6.0 target for Linux testing
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp10/StyleCop.Analyzers.Test.CSharp10.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp11/StyleCop.Analyzers.Test.CSharp11.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp12/StyleCop.Analyzers.Test.CSharp12.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp13/StyleCop.Analyzers.Test.CSharp13.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp7/StyleCop.Analyzers.Test.CSharp7.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/StyleCop.Analyzers.Test.CSharp8.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp9/StyleCop.Analyzers.Test.CSharp9.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1412UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/SequentialTestCollection.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/StyleCop.Analyzers.Test.csproj
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/GenericAnalyzerTest.cs
  StyleCop.Analyzers/StyleCop.Analyzers.Test/Verifiers/StyleCopCodeFixVerifier`2.cs
Due: test

Update Nerdbank.GitVersioning
  StyleCop.Analyzers/Directory.Build.props
Due: none

Use NuGet 6.0.6
  build/build-and-test.yml
  build/test.yml
Due: none

Update SA1413 for pattern matching
  StyleCop.Analyzers/StyleCop.Analyzers.Test.CSharp8/MaintainabilityRules/SA1413CSharp8UnitTests.cs
  StyleCop.Analyzers/StyleCop.Analyzers/MaintainabilityRules/SA1413UseTrailingCommasInMultiLineInitializers.cs
  documentation/SA1413.md
Due: production

Simplify the PR test matrix
  azure-pipelines.yml
  build/build-and-test.yml
  build/compute-impacted-tests.ps1
  build/test.yml
Due: none

fixup! Simplify the PR test matrix
  build/compute-impacted-tests.ps1
Due: none

Continue to run code coverage even on partial test runs
  build/build-and-test.yml
  build/test.yml
Due: none

fixup! Simplify the PR test matrix
  .gitignore
Due: none

Add ability to run filtered tests locally
  CONTRIBUTING.md
  build/Run-ImpactedTests.ps1
  build/compute-impacted-tests.ps1
Due: none

Path conditions:
  production: any of: StyleCop.Analyzers/StyleCop.Analyzers/, StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/
  test: any of: StyleCop.Analyzers/StyleCop.Analyzers.Test/, StyleCop.Analyzers/StyleCopTester/
